<% provide(:title, 'Update Staff') %>

<%= render 'shared/subheader' %>

<h2>Update Case Staff</h2>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for(@staff, url: {action: "update"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <table class="table">
          <tr>
            <td><%= f.label "Name:" %></td>
            <td><%=f.collection_select(:staffing_id, current_user.lawfirm.staffings.order(:full_name).all, :id, :full_name, :include_blank => "Select") %></td>
          </tr>
          <tr>
            <td><%= f.label "Position:" %></td>
            <td><%=f.select(:position, Staffing.all_positions(current_user).sort, :include_blank => "Select") %></td>
          </tr>
          <tr>
            <td><%= f.label "Expected Total Hours:" %></td>
            <td><%=f.text_field :hours_expected %></td>
          </tr>
          <tr>
            <td><%= f.label "Actual Hours Worked:" %></td>
            <td><%=f.text_field :hours_actual, :placeholder => 'Leave blank if new case' %></td>
          </tr>
        </table>

      <div class="center">
        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      </div>
      <% end %>
      <br>
      <br>

    <div class='center'>
      <%= link_to "Add Staff to #{@lawfirm.firm_name}", new_user_lawfirm_staffing_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm_id) %>
    </div>

    </div>
  </div>
</div>
