<% provide(:title, 'Update Staff') %>

<%= render 'shared/subheader' %>

<h1>Update Case Staff</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@staff, url: {action: "update"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "Name:" %>
      <%=f.select(:name, @case.staff.all.collect! {|case_staff| case_staff.name }, :include_blank => "Select") %>

      <%= f.label "Position:" %>
      <%=f.select(:position, Staffing.all_positions, :include_blank => "Select") %>


      <%= f.label "Expected Total Hours:" %>
      <%=f.text_field :hours_expected %>

      <%= f.label "Actual Hours Worked:" %>
      <%=f.text_field :hours_actual, :placeholder => 'Leave blank if new case' %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>

    <% end %>

  <div class='center'>
    <%= link_to "Add Staff to #{@lawfirm.firm_name}", new_user_lawfirm_staffing_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm_id) %>
  </div>

  </div>
</div>
