<% provide(:title, "Staff Information") %>

<%= render 'shared/subheader' %>

<h1>Case Staff</h1>

<table class="table table-hover sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Expected Total Hours</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% if @case.staff.present? %>
      <% @staff.order(:name).each do |staf| %>
        <tr>
          <td><%= Staffing.find_by(id: staf.staffing_id).full_name %></td>
          <td><%= staf.position %></td>
          <td><%= staf.hours_expected %></td>
        </tr>
      <% end %>
    <% else %>
        <td>You must <%= link_to "Add Staff", new_client_case_staff_path(@client,@case) %></td>
    <% end %>
  </tbody>
</table>

<div class='center'>
  <p><%= link_to "Add More Staff", new_client_case_staff_path(@client,@case) %></p>
</div>
