<% provide(:title, "Staff Information") %>

<%= render 'shared/subheader' %>

<h2>Case Staff</h2>

<% if @case.staff.present? %>

<table id="caseStaff" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Expected Total Hours</th>
      <th>Actual Total Hours</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @staff.order(:name,:updated_at).each do |staf| %>
      <tr>
        <td><%= Staffing.find_by(id: staf.staffing_id).full_name_last_first %></td>
        <td><%= staf.position %></td>
        <td><%= staf.hours_expected ? staf.hours_expected : "" %></td>
        <td><%= staf.hours_actual ? staf.hours_actual : "" %></td>
        <td><%= link_to 'Update', edit_client_case_staff_path(@client,@case,staf) %></td>
        <td><%= link_to 'Remove', client_case_staff_path(@client,@case,staf), method: :delete, data: { confirm: "Remove #{Staffing.find_by(id: staf.staffing_id).full_name_last_first}?" }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<div class='center'>
  <p><%= link_to "Add More Staff", new_client_case_staff_path(@client,@case), class: 'btn btn-md btn-primary' %></p>
</div>

<div id='actualVersusExpectedBar' style="min-width: 310px;
                                      height: 600px; width: 600px;
                                      max-width: 600px;
                                       margin: 0 auto">
</div>

<script type="text/javascript">

  var expectedHours = <%= @expected_hours %>;
  var actualHours = <%= @actual_hours %>;
  var categories = "<%= "#{@last_update}" %>";
$(function () {
    $('#actualVersusExpectedBar').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Actual vs Expected Hours'
        },
        credits: {
          enabled: false
        },
        subtitle: {
            text: 'as of last update'
        },
        xAxis: {
            categories: ['Last Updated: '+ categories]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Hours'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    'Total: ' + this.point.stackTotal;
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black, 0 0 3px black'
                    }
                }
            }
        },
        series: [{
            name: 'Remaining',
            data: [expectedHours-actualHours]
        }, {
            name: 'Actual Hours',
            data: [actualHours]

        }]
    });
});

</script>

