<% provide(:title, "Staff Information") %>

<%= render 'shared/subheader' %>

<h2>Case Staff</h2>

<table class="table table-hover sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Expected Total Hours</th>
      <th>Actual Total Hours</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @case.staff.present? %>
      <% @staff.order(:name,:updated_at).each do |staf| %>
        <tr>
          <td><%= Staffing.find_by(id: staf.staffing_id).full_name %></td>
          <td><%= staf.position %></td>
          <td><%= staf.hours_expected ? staf.hours_expected : "" %></td>
          <td><%= staf.hours_actual ? staf.hours_actual : "" %></td>
          <td><%= link_to 'Update', edit_client_case_staff_path(@client,@case,staf) %></td>
          <td><%= link_to 'Remove', client_case_staff_path(@client,@case,staf), method: :delete, data: { confirm: "Remove #{Staffing.find_by(id: staf.staffing_id).full_name}?" }%></td>
        </tr>
      <% end %>
    <% else %>
        <td>You must <%= link_to "Add Staff", new_client_case_staff_path(@client,@case) %></td>
    <% end %>
  </tbody>
</table>

<div class='center'>
  <p><%= link_to "Add More Staff", new_client_case_staff_path(@client,@case) %></p>
</div>

<div id='actualVersusExpectedPie' style="min-width: 310px;
                                      height: 600px; width: 600px;
                                      max-width: 600px;
                                       margin: 0 auto">
</div>

<script type="text/javascript">
$(function () {

  var actualHours = <%= raw ["Actual Hours", @actual_hours] %>
  var expectedHours = <%= raw ["Expected Hours", @expected_hours ] %>
  var actualViaPercentage = (actualHours * (actualHours + expectedHours)) / expectedHours
  var expectedViaPercentage = actualHours + expectedHours

    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });

    $('#actualVersusExpectedPie').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: "Actual Hours vs. Expected Hours"
        },
        tooltip: {
          pointFormat: 'Hours: <b>{point.y}</b>'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}: {point.y}</b>',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            type: 'pie',
            name: "Practice Group",
            data: [actualHours, expectedHours]
        }]
    });
});

</script>

