<% provide(:title, "Staff Information") %>

<%= render 'shared/subheader' %>

<h2>Case Staff</h2>

<table class="table table-hover sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Expected Total Hours</th>
      <th>Actual Total Hours</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @case.staff.present? %>
      <% @staff.order(:name).each do |staf| %>
        <tr>
          <td><%= Staffing.find_by(id: staf.staffing_id).full_name %></td>
          <td><%= staf.position %></td>
          <td><%= staf.hours_expected ? staf.hours_expected : "" %></td>
          <td><%= staf.hours_actual ? staf.hours_actual : "" %></td>
          <td><%= link_to 'Update', edit_client_case_staff_path(@client,@case,staf) %></td>
          <td><%= link_to 'Remove', client_case_staff_path(@client,@case,staf), method: :delete, data: { confirm: "Remove #{Staffing.find_by(id: staf.staffing_id).full_name}?" }%></td>
        </tr>
      <% end %>
    <% else %>
        <td>You must <%= link_to "Add Staff", new_client_case_staff_path(@client,@case) %></td>
    <% end %>
  </tbody>
</table>

<div class='center'>
  <p><%= link_to "Add More Staff", new_client_case_staff_path(@client,@case) %></p>
</div>
