<% provide(:title, "Staff Information") %>

<%= render 'shared/subheader' %>

<h1>Case Staff</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Expected Utilization %</th>
      <th>Expected Total Hours</th>
    </tr>
  </thead>
  <tbody>
    <% if @case.staff.present? %>
      <% @staff.each do |staf| %>
        <tr>
          <td><%= staf.name %></td>
          <td><%= staf.position %></td>
          <td></td>
          <td></td>
        <% end %>
        <!-- utilization is a separate controlller and needs to be outside the @staff form -->

        </tr>

        <% else %>
        <td>You must <%= link_to "Add Staff", new_client_case_staff_path(@client,@case) %></td>
    <% end %>
  </tbody>
</table>

<div class='center'>
  <p><%= link_to "Add More Staff", new_client_case_staff_path(@client,@case) %></p>
</div>
