<% provide(:title, 'Case Staff') %>

<%= render 'shared/subheader' %>

<h1>Add Staff</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@staff, url: {action: "create"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "Responsible Attorney:" %>
      <%= f.text_field :responsible_attorney %>

      <%= f.label "Assigned Attorney 1:" %>
      <%= f.text_field :assigned_attorney_1 %>

      <%= f.label "Assigned Attorney 2:" %>
      <%= f.text_field :assigned_attorney_2 %>

      <%= f.label "Assigned Staff 1:" %>
      <%= f.text_field :assigned_staff_1 %>

      <%= f.label "Assigned Staff 2:" %>
      <%= f.text_field :assigned_staff_2 %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
