<% provide(:title, "Staff Information") %>

<h1>Staff Information</h1>

<h2> Responsible Attorney: <%= @staff.responsible_attorney %></h2>
<h2> Assigned Attorney 1: <%= @staff.assigned_attorney_1 %></h2>
<h2> Assigned Attorney 2: <%= @staff.assigned_attorney_2 %></h2>
<h2> Assigned Staff 1: <%= @staff.assigned_staff_1 %></h2>
<h2> Assigned Staff 2: <%= @staff.assigned_staff_2 %></h2>
