<div class="modal fade" id="newClientModal" tabindex="-1" role="dialog" aria-labelledby="newClient" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newClient">New Client Form</h4>
      </div>
      <div class="modal-body">


     <%= form_for @client, remote: true, html: { class: "form-horizontal" } do |f| %>
       <%= render 'shared/error_messages', object: f.object %>

         <div class="form-group">
           <div class="col-sm-3">
             <%= f.label :company, "Company:", class: 'control-label' %>
           </div>
           <div class="col-sm-9">
             <%= f.text_field :company, class: 'form-control' %>
           </div>
         </div>

         <div class="form-group">
           <div class="col-sm-3">
             <%= f.label :first_name, "First Name:", class: 'control-label' %>
           </div>
           <div class="col-sm-9">
             <%= f.text_field :first_name, class: 'form-control' %>
           </div>
         </div>

         <div class="form-group">
           <div class="col-sm-3">
             <%= f.label :last_name, "Last Name:", class: 'control-label' %>
           </div>
           <div class="col-sm-9">
             <%= f.text_field :last_name, class: 'form-control' %>
           </div>
         </div>

         <div class="form-group">
           <div class="col-sm-3">
             <%= f.label :street_address, "Street Address:", class: 'control-label' %>
           </div>
           <div class="col-sm-9">
             <%= f.text_field :street_address, class: 'form-control' %>
           </div>
         </div>

         <div class="form-group">
           <div class="col-sm-3">
             <%= f.label :city, "City:", class: 'control-label' %>
           </div>
           <div class="col-sm-9">
             <%= f.text_field :city, class: 'form-control' %>
           </div>
         </div>

         <div class="form-group">
           <div class="col-sm-3">
             <%= f.label :state, "State:", class: 'control-label' %>
           </div>
           <div class="col-sm-9">
             <%= f.select :state, StaticInformation::STATES.select {|x| x[0] }, { include_blank: "Please Select"}, class: "form-control" %>
           </div>
         </div>

         <div class="form-group">
           <div class="col-sm-3">
             <%= f.label :zip_code, "Zip Code:", class: 'control-label' %>
           </div>
           <div class="col-sm-9">
             <%= f.text_field :zip_code, class: 'form-control' %>
           </div>
         </div>

         <div class="form-group">
           <div class="col-sm-3">
             <%= f.label :country, "Country:", class: 'control-label' %>
           </div>
           <div class="col-sm-9">
             <%= f.select :country, StaticInformation::COUNTRIES, {include_blank: "Please Select"}, class: 'form-control' %>
           </div>
         </div>

         <div class="form-group">
           <div class="col-sm-3">
             <%= f.label :phone_number, "Phone Number:", class: 'control-label' %>
           </div>
           <div class="col-sm-9">
             <%= f.text_field :phone_number, class: 'form-control' %>
           </div>
         </div>

         <div class="form-group">
           <div class="col-sm-3">
             <%= f.label :fax_number, "Fax Number:", class: 'control-label' %>
           </div>
           <div class="col-sm-9">
             <%= f.text_field :fax_number, class: 'form-control' %>
           </div>
         </div>

         <div class="form-group">
           <div class="col-sm-3">
             <%= f.label :email, "Email Address:", class: 'control-label' %>
           </div>
           <div class="col-sm-9">
             <%= f.text_field :email, class: 'form-control' %>
           </div>
         </div>

         <div class="form-group">
           <div class="col-sm-3">
             <%= f.label :differnt_billing, "Different Billing Address?:", class: 'control-label' %>
           </div>
           <div class="col-sm-9">
             <%= f.check_box :different_billing, class: 'form-control' %>
           </div>
         </div>

           <div class='billing hide' id="billing-information">
             <h2>Billing Address</h2>



             <%= f.fields_for :billings do |ff| %>

               <div class="form-group">
                 <div class="col-sm-3">
                   <%= ff.label :name, "Name:", class: 'control-label' %>
                 </div>
                 <div class="col-sm-9">
                   <%= ff.text_field :name, class: 'form-control' %>
                 </div>
               </div>

               <div class="form-group">
                 <div class="col-sm-3">
                   <%= ff.label :street_address, "Street Address:", class: 'control-label' %>
                 </div>
                 <div class="col-sm-9">
                   <%= ff.text_field :street_address, class: 'form-control' %>
                 </div>
               </div>

               <div class="form-group">
                 <div class="col-sm-3">
                   <%= ff.label :city, "City:", class: 'control-label' %>
                 </div>
                 <div class="col-sm-9">
                   <%= ff.text_field :city, class: 'form-control' %>
                 </div>
               </div>

               <div class="form-group">
                 <div class="col-sm-3">
                   <%= ff.label :state, "State:", class: 'control-label' %>
                 </div>
                 <div class="col-sm-9">
                   <%= ff.select :state, StaticInformation::STATES.select {|x| x[0]  }, {include_blank: "Please Select"}, class: 'form-control' %>
                 </div>
               </div>

               <div class="form-group">
                 <div class="col-sm-3">
                   <%= ff.label :zip_code, "zip_code:", class: 'control-label' %>
                 </div>
                 <div class="col-sm-9">
                   <%= ff.text_field :zip_code, class: 'form-control' %>
                 </div>
               </div>

             <% end %>
           </div>




    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add Client</button>

     <% end %>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$.ajaxSetup({
  dataType: 'json'
});

$.fn.render_form_errors = function(model_name, errors) {
  var form;
  form = this;
  this.clear_form_errors();
  return $.each(errors, function(field, messages) {
    var input;
    input = form.find('input, select, textarea').filter(function() {
      var name;
      name = $(this).attr('name');
      if (name) {
        return name.match(new RegExp(model_name + '\\[' + field + '\\(?'));
      }
    });
    input.closest('.form-group').addClass('has-error');
    return input.parent().append('<span class="help-block">' + $.map(messages, function(m) {
      return m.charAt(0).toUpperCase() + m.slice(1);
    }).join('<br />') + '</span>');
  });
};

$.fn.clear_form_errors = function() {
  this.find('.form-group').removeClass('has-error');
  return this.find('span.help-block').remove();
};
$.fn.clear_form_fields = function() {
  return this.find(':input', '#myform').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');
};

$("#new_client").on("ajax:success", function (e, data, status, xhr) {
  console.log('success');
}).on("ajax:error", function (e, data, status, xhr) {
  $("#new_client").render_form_errors('client', data.responseJSON)
});
</script>
