<% provide(:title, 'Timing Timeline') %>

<%= render 'shared/subheader' %>

<h2>Timing Timeline </h2>

<table class="table table-hover sortable">
  <thead>
    <tr>
      <th>File Opened</th>
      <th>Case Filed</th>
      <th>Accelerated Estimated Conclusion</th>
      <th>Expected Estimated Conclusion</th>
      <th>Slow Estimated Conclusion</th>
      <th>Last Update</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% if current_user.lawfirm.clients.find(params[:client_id]).cases.find(params[:case_id]).timing.present? %>
      <% current_user.lawfirm.clients.find_by(id: @client.id).cases.find_by(id: @case.id).timing.order(:created_at).each do |timing| %>
        <tr>
          <td>
            <%= timing.date_opened ? timing.date_opened.strftime("%b %d, %Y") : "" %>
          </td>
          <td>
            <%= timing.case_filed ? timing.case_filed.strftime("%b %d, %Y") : "" %>
          </td>
          <td>
            <%= timing.estimated_conclusion_fast ? (timing.estimated_conclusion_fast).strftime("%b %Y") : ""  %>
          </td>
          <td>
            <%= timing.estimated_conclusion_expected ? (timing.estimated_conclusion_expected).strftime("%b %Y") : "" %>
          </td>
          <td>
            <%= timing.estimated_conclusion_slow ? (timing.estimated_conclusion_slow).strftime("%b %Y") : "" %>
          </td>
          <td><%= timing.updated_at.strftime("%b %d, %Y") %></td>
          <td><%= link_to "Edit", edit_client_case_timing_path(@client,@case,timing.id) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class='center'>
   <p> <%= link_to 'Update Timing Timeline', new_client_case_timing_path(@client,@case) %></p>
</div>
