<% provide(:title, 'Case Dates') %>

<%= render 'shared/subheader' %>

<h1>Add Case Timing</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@timing, url: {action: "create"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "Date Opened:" %>
      <%= f.date_field :date_opened, id: 'datepicker' %>

      <%= f.label "Fastest Estimated Conclusion:" %>
      <%= f.text_field :estimated_conclusion_high%>

      <%= f.label "Expected Estimated Conclusion:" %>
      <%= f.text_field :estimated_conclusion_med %>

      <%= f.label "Slowest Estimated Conclusion:" %>
      <%= f.text_field :estimated_conclusion_low %>


      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
