<% provide(:title, "Case Dates") %>

<%= render 'shared/subheader' %>

<h2>Current Timing</h2>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>File Opened</th>
      <th>Case Filed</th>
      <th>Accelerated Estimated Conclusion</th>
      <th>Expected Estimated Conclusion</th>
      <th>Slow Estimated Conclusion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @timing.date_opened ? @timing.date_opened.strftime("%b %Y") : "" %>
      </td>
      <td>
        <%= @timing.case_filed ? @timing.case_filed.strftime("%b %Y") : "" %>
      </td>

      <td>
        <%=  @timing.estimated_conclusion_fast ? (@timing.estimated_conclusion_fast).strftime("%b %Y") : "" %>
      </td>
      <td>
        <%= @timing.estimated_conclusion_expected ? (@timing.estimated_conclusion_expected).strftime("%b %Y") : "" %>
      </td>
      <td>
        <%= @timing.estimated_conclusion_slow ? (@timing.estimated_conclusion_slow).strftime("%b %Y") : "" %>
      </td>
    </tr>
  </tbody>
</table>

<h2> <%= link_to "Edit Current Timing", edit_client_case_timing_path(@client, @case, @timing) %></h2>
