<% provide(:title, 'Firm Users') %>

<h2><%= "Members of #{current_user.lawfirm.firm_name}" %></h2>


<table id="lawfirmUsers" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Dashboard Access?</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= Staffing.full_name_last_first(user) %></td>
          <td><%= user.email %></td>
          <td><%= check_box_tag("dashboard",user.id, user.dashboard_access, class: 'dashboard-access', data: {remote: true}) %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<div class="center">
  <%= link_to "Change Firm Password", edit_user_lawfirm_path(current_user.id,current_user.lawfirm.id), class: "btn btn-md btn-primary" %>
  <%= link_to "Forgot Firm Password?", "#", class: "btn btn-md btn-danger" %>
</div>

<script type="text/javascript">
  $('.dashboard-access').on('change', function() {
    $.ajax({
      url: "/users/" + <%=current_user.id %> + "/lawfirms/" + this.value + "/toggle_dashboard",
      type: 'POST',
      data: {"dashboard_access": this.checked}
    });
  });
</script>
