<% provide(:title, 'Firm Users') %>

<h2><%= "Members of #{current_user.lawfirm.firm_name}" %></h2>


<table id="lawfirmUsers" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>View Dashboard?</th>
      <th>Update Matters?</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= Staffing.full_name_last_first(user) %></td>
          <td><%= user.email %></td>
          <td><%= check_box_tag("View") %></td>
          <td><%= check_box_tag("View") %></td>
        </tr>
      <% end %>
  </tbody>
</table>
