<% provide(:title, 'Firm Clients') %>

<h1><%= "Clients of #{@firm_name}" %></h1>

<% if current_user.lawfirm.clients.present? %>

<table id="lawfirmClients" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
      <% @lawfirm_clients.each do |client| %>

      <!-- Use Client.company first, otherwise use client.full_name -->
        <% if client.company == nil %>
          <% name = User.full_name_last_first(client) %>
        <% else %>
          <% name = client.company %>
        <% end %>
      <!-- End name set -->

        <tr>
          <td><%= link_to name, client_path(client) %></td>
          <td><%= client.email %></td>
          <td><%= client.phone_number %></td>
          <td><%= client.street_address %><br>
              <%= client.city%>, <%=client.state%>, <%=client.zip_code %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>

<% else %>
  <div class="center">
   <%= link_to 'Add a Client', new_client_path, class: 'btn btn-md btn-primary' %>
  </div>
<% end %>



