<% provide(:title, 'Cases') %>

<h1><%= "#{@firm_name} Case List" %></h1>


<% if @lawfirm_cases.any? %> <!-- does the lawfirm have cases?  If show then show them-->


<table id="lawfirmCases" class="display">
  <thead>
    <tr>
      <th>Case Name<br>
        (click to view)</th>
      <th>Practice Group</th>
      <th>Client Name</th>
      <th>Responsible Attorney</th>
      <th>Judge</th>
      <th>Opposing Counsel</th>
      <th>Matter Type</th>
      <th>Case Number</th>
    </tr>
  </thead>
  <tbody>
      <% @lawfirm_cases.each do |one_case| %>
       <tr>
        <td><%= link_to one_case.name != nil && one_case.name != "" ? one_case.name : "Add Name", client_case_path(:client_id => one_case.client_id, :id => one_case.id) %></td>
        <td><%= Practicegroup.find_by(id: one_case.practicegroup_id).group_name %> </td>
        <td><%= one_case.client.company || "#{one_case.client.last_name}, #{one_case.client.first_name}" %> </td>
        <td><%= Case.lead_attorney(one_case) %> </td>
        <td><%= one_case.judge ? one_case.judge : "" %></td>
        <td><%= one_case.opposing_attorney ? one_case.opposing_attorney : ""%></td>
        <td><%= one_case.type_of_matter ? one_case.type_of_matter : "" %></td>
        <td><%= one_case.case_number ? one_case.case_number : "" %></td>
      <% end %>
  </tbody>
</table>

<% else %>

  <div class="center">
    <%= link_to "Add Open Case", new_case_path, class: 'btn btn-md btn-primary' %>
    <%= link_to "Add Closed Case", new_closed_case_path, class: 'btn btn-md btn-primary' %>
  </div>

<% end %>


