<% provide(:title, 'Cases') %>

<h1><%= "#{@firm_name} Case List" %></h1>

<table class="table table-hover sortable">
  <thead>
    <tr>
      <th>Case Name</th>
      <th></th>
      <th></th>
      <th>Practice Group</th>
      <th>Client Name</th>
    </tr>
  </thead>
  <tbody>
    <% if current_user.lawfirm.present? %> <!-- does the lawfirm have cases?  If show then show them-->
      <% @lawfirm_cases.each do |one_case| %>
       <tr>
        <td><%= one_case.name %></td>
        <td></td>
        <td></td>
        <td><%= one_case.practice_group %> </td>
        <td><%= one_case.client.client_name %> </td>
        <% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @lawfirm_cases %>
