<% provide(:title, 'Cases') %>

<h2><%= "#{@firm_name} Case List" %></h2>

<table id="lawfirmCases" class="display">
  <thead>
    <tr>
      <th>Case Name<br>
        (click to view)</th>
      <th>Practice Group</th>
      <th>Client Name</th>
      <th>Responsible Attorney</th>
      <th>Judge</th>
      <th>Opposing Counsel</th>
      <th>Case Number</th>
    </tr>
  </thead>
  <tbody>
      <% @lawfirm_cases.each do |one_case| %>
       <tr>
        <td><%= link_to one_case.name != nil && one_case.name != "" ? one_case.name : "Add Name", client_case_path(:client_id => one_case.client_id, :id => one_case.id) %></td>
        <td><%= Practicegroup.find_by(id: one_case.practicegroup_id).group_name %> </td>
        <td><%= one_case.client.company ? one_case.client.company.empty? ? one_case.client.full_name_last_first : one_case.client.company : one_case.client.company%> </td>
        <td><%= Case.lead_attorney(one_case).blank? ? "Select a primary attorney" : Case.lead_attorney(one_case) %></td>
        <td><%= one_case.judge ? one_case.judge : "" %></td>
        <td><%= one_case.opposing_attorney ? one_case.opposing_attorney : ""%></td>
        <td><%= one_case.case_number ? one_case.case_number : "" %></td>
      <% end %>
  </tbody>
</table>

  <div class="center">
    <%= link_to "Add Open Case", new_case_path, class: 'btn btn-md btn-primary' %>
    <%= link_to "Add Closed Case", new_closed_case_path, class: 'btn btn-md btn-primary' %>
  </div>



