<% provide(:title, 'Closeout') %>

<%= render 'shared/subheader' %>

<h2>Case Closeout Form</h2>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for(@closeout, url: {action: "create"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <table class="table">
          <tr>
            <td><%= f.label "Total Recovery:" %></td>
            <td><%= f.text_field :total_recovery %></td>
          </tr>
          <tr>
            <td> <%= f.label "Total Gross Fee Received:" %></td>
            <td><%= f.text_field :total_gross_fee_received %></td>
          </tr>
          <tr>
            <td> <%= f.label "Total Out-of-Pocket Expenses:" %></td>
            <td> <%= f.text_field :total_out_of_pocket_expenses %></td>
          </tr>
          <tr>
            <td> <%= f.label "Referring Fee Paid:" %></td>
            <td>    <%= f.text_field :referring_fees_paid %></td>
          </tr>
          <tr>
            <td> <%= f.label "Total Fee Received:" %></td>
            <td> <%= f.text_field :total_fee_received %></td>
          </tr>
          <tr>
            <td><%= f.label "Date Fee Received:" %></td>
            <td> <%= f.date_field :date_fee_received, id: 'datepicker' %></td>
          </tr>

        </table>

        <div class="center">
          <%= f.submit "Submit", class: "btn btn-default btn-large btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
