<% provide(:title, "New Matter Type") %>
<h1><%= "New Matter Type" %> </h1>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">

    <%= form_for @case_type, url: {action: "create"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label 'Matter Type:' %>
      <%= f.text_field :mat_ref %>

      <%= f.submit "Create Matter Type", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
