<% provide(:title, 'Case Origination') %>

<%= render 'shared/subheader' %>

<h2>Update Case Origination</h2>

<div class='container'>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for(@origination, url: {action: "update"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <table class='table'>
          <tr>
            <td><%= f.label "Referral Source:" %></td>
            <td><%= f.text_field :referral_source %></td>
          </tr>
          <tr>
            <td><%= f.label "More Information:" %></td>
            <td><%= f.text_field :source_description, :placeholder => "Any other source information?" %></td>
          </tr>
        </table>

        <div class="center">
          <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
