<% provide(:title, 'Case Origination') %>

<%= render 'shared/subheader' %>

<h2>New Case Origination</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@origination, url: {action: "create"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "Referral Source:" %>
      <%= f.text_field :referral_source %>

      <%= f.label "More Information:" %>
      <%= f.text_field :source_description, :placeholder => "Any other source information?" %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
