<% provide(:title, "Case Origination") %>

<%= render 'shared/subheader' %>

<h1>Case Origination</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Referral Source</th>
      <th>Exisiting Client</th>
      <th>Other Source</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=@origination.referral_source%></td>
      <td><%=@origination.existing_client%></td>
      <td><%=@origination.other_source%></td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h2><%= link_to "Update Case Origination", edit_client_case_origination_path(@client,@case,@origination) %></h2>
