<% provide(:title, 'Revenue by Year Fast Rate') %>

<div id="revenueByYearFast" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br>
<div class='center'>
<%= link_to "Fast Recovery Rate", revenue_by_year_fast_path, class: "btn btn-large btn-small" %>
<%= link_to "Expected Recovery Rate", revenue_by_year_path, class: "btn btn-large btn-small" %>
<%= link_to "Slow Recovery Rate", revenue_by_year_slow_path, class: "btn btn-large btn-small" %>
</div>

<script type="text/javascript">

var highArray =  <%= raw @high_fast_final_estimate %>;
var mediumArray = <%= raw @medium_fast_final_estimate %>;
var lowArray = <%= raw @low_fast_final_estimate %>;
var categoryYear = <%= @category_years %>;


  $(function () {
        $('#revenueByYearFast').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Expected Revenue by Year'
            },
            subtitle: {
                text: '(assuming fast recovery rate)'
            },
            xAxis: {
                categories: categoryYear
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Revenue (in millions)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>${point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
            {
              name: "Low Revenue Est.",
              data: lowArray
            },
            {
              name: "Medium Revenue Est.",
              data: mediumArray
            },
            {
              name: "High Revenue Est.",
              data: highArray
            }
            ]
        });
    });



</script>
