<% provide(:title, 'Revenue by PG') %>

<div class="inside-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">

                <div class="center">
                    <h2>Expected Fee Received by Practice Group</h2>

                    <div class="select-year">
                    <h5>Change Number of Years</h5>
                        <div class="row">
                            <div class="col-sm-10 col-lg-12">
                                <%= form_tag practice_group_revenue_pie_low_graph_path(current_user.lawfirm_id), method: :get do %>
                            </div>
                            <div class="row">
                                <div class='col-lg-1 col-lg-offset-4'>
                                    <div class="form-group">
                                        <%= select_tag :range, options_for_select([1,2,3,4,5,6,7,8,9,10]), class: "form-control", id: "select-year" %>
                                    </div>
                                </div>
                                <div class='col-lg-3'>
                                    <div class="form-group">
                                        <%= submit_tag "Change Years", class: 'btn btn-sm btn-primary' %>
                                    </div>
                                </div>
                            </div>
                                <%end%>
                        </div>
                    </div>

                    <div class="btn-group btn-group-md">
                        <button id="lowButton" type="button" class="btn btn-default">Low Revenue</button>
                        <button id="expectedButton" type="button" class="btn btn-default">Expected Revenue</button>
                        <button id="highButton" type="button" class="btn">High Revenue</button>
                    </div>
                </div>

                <div class="row">
                    <div class="" id='RevenueByPracticeGroupLow'>
                    </div>
                </div>
                <div class="row">
                    <div class="" id='RevenueByPracticeGroupMedium'>
                    </div>
                </div>
                <div class="row">
                    <div class="" id='RevenueByPracticeGroupHigh'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $("#expectedButton").click(function() {
        $('#RevenueByPracticeGroupLow').hide();
        $('#RevenueByPracticeGroupHigh').hide();
        $('#RevenueByPracticeGroupMedium').show();
    });
    $("#lowButton").click(function() {
        $('#RevenueByPracticeGroupHigh').hide();
        $('#RevenueByPracticeGroupMedium').hide();
        $('#RevenueByPracticeGroupLow').show();
    });
    $("#highButton").click(function() {
        $('#RevenueByPracticeGroupLow').hide();
        $('#RevenueByPracticeGroupMedium').hide();
        $('#RevenueByPracticeGroupHigh').show();
    });
});
</script>

<script> /*for the 3 pie charts*/
    var yearLookBack = "<%= @year %>"

    var pieDataLow = [<% @final_low_rev.each do |d|%>
                      <%= raw d %>,
                    <% end %>]
    var pieDataMedium = [<% @final_medium_rev.each do |d|%>
                      <%= raw d %>,
                    <% end %>]
    var pieDataHigh = [<% @final_high_rev.each do |d|%>
                      <%= raw d %>,
                    <% end %>]

    $(function () {
        //coloring
        Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
                return {
                    radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                    stops: [
                        [0, color],
                        [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                    ]
                };
            });

        $('#RevenueByPracticeGroupLow').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1,//null,
                plotShadow: false
            },
            credits: {
                    enabled: false
            },
            title: {
                text: 'Estimated Gross Fee Received by Practice Group (Low)'
            },
            subtitle: {
                text: "Next "+ yearLookBack + " Years | All Open Cases"
            },
            tooltip: {
              pointFormat: '<b>${point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: "Practice Group",
                data: pieDataLow
            }]
        });
    });//end Low Revenue Pie

    $(function () {
        $('#RevenueByPracticeGroupMedium').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1,//null,
                plotShadow: false
            },
            title: {
                text: 'Estimated Gross Fee Received by Practice Group (Medium)'
            },
            subtitle: {
                text: "Next " + yearLookBack + " Years | All Open Cases"
            },
            credits: {
                    enabled: false
            },
            tooltip: {
              pointFormat: '<b>${point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: "Practice Group",
                data: pieDataMedium
            }]
        });
    });//end Medium Revenue Pie

    $(function () {
        $('#RevenueByPracticeGroupHigh').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1,//null,
                plotShadow: false
            },
            title: {
                text: 'Estimated Gross Fee Received by Practice Group (High)'
            },
            subtitle: {
                text: "Next " + yearLookBack + " Years | All Open Cases"
            },
            credits: {
                    enabled: false
            },
            tooltip: {
              pointFormat: '<b>${point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: "Practice Group",
                data: pieDataHigh
            }]
        });
    });//end high revenue PIE
</script>

