<% provide(:title, 'Revenue by Year by PG') %>

<div class="chart container">
    <div class="col-lg-10 col-lg-offset-2">
        <div id="revenueByYearByPG" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <br>


        <div class='center'>
        <%= link_to "High Fee Value", revenue_by_year_practice_group_high_path, class: "btn btn-default btn-md" %>
        <%= link_to "Middle Fee Value", revenue_by_year_practice_group_path, class: "btn btn-default btn-md" %>
        <%= link_to "Low Fee Value", revenue_by_year_practice_group_low_path, class: "btn btn-default btn-md" %>
        </div>
    </div>
</div>

<script type="text/javascript">
var categoryYear = <%= @category_years %>;
var seriesData = <%= raw @hash_file %>;


  $(function () {
        $('#revenueByYearByPG').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Expected Revenue by Year by Practice Group'
            },
            credits: {
                enabled: false
            },
            subtitle: {
                text: '(assuming expected recovery rate and middle fees)'
            },
            xAxis: {
                categories: categoryYear,
                gridLineWidth: 1
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Revenue'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>${point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true,
                positioner: function(boxWidth, boxHeight, point) {
                    return {
                        x: point.plotX - 40,
                        y: point.plotY - 20
                     };
                } //this moves the box out of the way of the category links
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: seriesData
        });
    });



</script>
