<% provide(:title, 'Revenue by Year by PG') %>
<div class="center">
    <%= render 'shared/rev_by_pg_button_paths' %>
</div>

<div class="chart container">
    <div class="col-lg-10 col-lg-offset-2">
        <div id="revenueByYearByPGExpectedLow" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <br>
        <div id="revenueByYearByPGAcceleratedLow" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <br>
        <div id="revenueByYearByPGSlowLow" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    </div>
</div>

<script type="text/javascript">

var categoryYear = <%= Graph.expected_year_only %>;

  $(function () {
    var seriesData = <%= raw @low_fee_expected_conclusion %>;
        $('#revenueByYearByPGExpectedLow').highcharts({
            chart: {
                type: 'column'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Expected Revenue by Year by Practice Group'
            },
            subtitle: {
                text: 'Expected Recovery / Low Fees'
            },
            xAxis: {
                categories: categoryYear,
                gridLineWidth: 1
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Revenue'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>${point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: seriesData
        });
    });

$(function () {
    var seriesData = <%= raw @low_fee_accelerated_conclusion %>;

        $('#revenueByYearByPGAcceleratedLow').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Expected Revenue by Year by Practice Group'
            },
            credits: {
                enabled: false
            },
            subtitle: {
                text: 'Accelerated Recovery / Low Fees'
            },
            xAxis: {
                categories: categoryYear,
                gridLineWidth: 1
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Revenue'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>${point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true,
                positioner: function(boxWidth, boxHeight, point) {
                    return {
                        x: point.plotX - 40,
                        y: point.plotY - 20
                     };
                } //this moves the box out of the way of the category links
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: seriesData
        });
    });

    $(function () {
    var seriesData = <%= raw @low_fee_slow_conclusion %>;

        $('#revenueByYearByPGSlowLow').highcharts({
            chart: {
                type: 'column'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Expected Revenue by Year by Practice Group'
            },
            subtitle: {
                text: 'Slow Recovery / Low Fees'
            },
            xAxis: {
                categories: categoryYear,
                gridLineWidth: 1
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Revenue'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>${point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: seriesData
        });
    });



</script>
