<% provide(:title, 'Client Profitability') %>
<div class="center">
  <div class="col-lg-6 col-lg-offset-4">
    <h2>Select Other Client</h2>
      <%= form_tag revenue_by_client_estimate_graph_path(params[:id], params[:client_id]),
          method: :get do %>
          <div class="row">
            <div class='col-lg-6 col-lg-offset-3'>
              <div class="form-group">
                <%= select_tag :client_id, options_for_select(@clients), class: 'form-control' %>
              </div>
              <%= submit_tag "Change Client", class: 'btn btn-md btn-primary center' %>
            </div>
          </div>
      <%end%>
  </div>
</div>

<div class='chart col-lg-10 col-lg-offset-2'>
  <div id="revenueByClientByYearExpected" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <div id="revenueByClientByYearAccelerated" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <div id="revenueByClientByYearSlow" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

  <div id="clientProf" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>

<script type="text/javascript">
var categoryByYear = <%= Graph.expected_year_only %>;
var clientName = "<%= raw @client.company || @client.full_name_last_first %>"

$(function () {

  var high = <%= @high_estimate_expected %>;
  var medium = <%= @medium_estimate_expected %>;
  var low = <%= @low_estimate_expected %>;
  var referral = <%= @referral_expected %>;
  var cost = <%= @cost_estimate_expected %>;
  var indirect = <%= @indirect_cost_expected %>;


  // Create the chart
  $('#revenueByClientByYearExpected').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Gross Fees and Expenses - ' + clientName
      },
      subtitle: {
          text: "Expected Recovery Rate"
      },
      credits: {
        enabled: false
      },
      xAxis: {
          categories: categoryByYear,
      },
      yAxis: {
          title: {
              text: 'Dollar Recovery and Costs'
          }
      },
      legend: {
          enabled: true
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>${point.y}</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true,
          positioner: function(boxWidth, boxHeight, point) {
            return {
                x: point.plotX - 40,
                y: point.plotY - 20
            };
        } //this moves the box out of the way of the category links
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [{
          name: 'Low Estimate',
          data: low,
      },
      {
          name: 'Medium Estimate',
          data: medium
      },
      {
          name: 'High Estimate',
          data: high
      },
      {
          name: 'Referring Fees',
          data: referral,
          color: 'red'
      },
      {
          name: 'Direct Costs',
          data: cost
      },
      {
          name: "Indirect Costs",
          data: indirect
      }],
  })
});

$(function () {

  var high = <%= @high_estimate_accelerated %>;
  var medium = <%= @medium_estimate_accelerated %>;
  var low = <%= @low_estimate_accelerated %>;
  var referral = <%= @referral_accelerated %>;
  var cost = <%= @cost_estimate_accelerated %>;
  var indirect = <%= @indirect_cost_accelerated %>;


  // Create the chart
  $('#revenueByClientByYearAccelerated').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Gross Fees and Expenses - ' + clientName
      },
      subtitle: {
          text: "Accelerated Recovery Rate"
      },
      credits: {
        enabled: false
      },
      xAxis: {
          categories: categoryByYear,
      },
      yAxis: {
          title: {
              text: 'Dollar Recovery and Costs'
          }
      },
      legend: {
          enabled: true
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>${point.y}</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true,
          positioner: function(boxWidth, boxHeight, point) {
            return {
                x: point.plotX - 40,
                y: point.plotY - 20
            };
        } //this moves the box out of the way of the category links
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [{
          name: 'Low Estimate',
          data: low,
      },
      {
          name: 'Medium Estimate',
          data: medium
      },
      {
          name: 'High Estimate',
          data: high
      },
      {
          name: 'Referring Fees',
          data: referral,
          color: 'red'
      },
      {
          name: 'Direct Costs',
          data: cost
      },
      {
          name: "Indirect Costs",
          data: indirect
      }],
  })
});

$(function () {

  var high = <%= @high_estimate_slow %>;
  var medium = <%= @medium_estimate_slow %>;
  var low = <%= @low_estimate_slow %>;
  var referral = <%= @referral_slow %>;
  var cost = <%= @cost_estimate_slow %>;
  var indirect = <%= @indirect_cost_slow %>;


  // Create the chart
  $('#revenueByClientByYearSlow').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Gross Fees and Expenses - ' + clientName
      },
      subtitle: {
          text: "Slow Recovery Rate"
      },
      credits: {
        enabled: false
      },
      xAxis: {
          categories: categoryByYear,
      },
      yAxis: {
          title: {
              text: 'Dollar Recovery and Costs'
          }
      },
      legend: {
          enabled: true
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>${point.y}</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true,
          positioner: function(boxWidth, boxHeight, point) {
            return {
                x: point.plotX - 40,
                y: point.plotY - 20
            };
        } //this moves the box out of the way of the category links
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [{
          name: 'Low Estimate',
          data: low,
      },
      {
          name: 'Medium Estimate',
          data: medium
      },
      {
          name: 'High Estimate',
          data: high
      },
      {
          name: 'Referring Fees',
          data: referral,
          color: 'red'
      },
      {
          name: 'Direct Costs',
          data: cost
      },
      {
          name: "Indirect Costs",
          data: indirect
      }],
  })
});




</script>

