<% provide(:title, 'Revenue by Year') %>

<div id="revenueByMonthYr1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br>
<div class='center'>
<%= link_to "Expected Recovery Rate", revenue_by_year_path, class: "btn btn-large btn-small" %>
</div>

<script type="text/javascript">
var categoryMonths = <%= raw @category_months %>
var mediumRevByMonth = <%= raw @first_year_rev_medium %>
var highRevByMonth = <%= raw @first_year_rev_high %>
var lowRevByMonth = <%= raw @first_year_rev_low %>



$(function () {
        $('#revenueByMonthYr1').highcharts({
            chart: {
                type: 'column'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Expected Revenue by Month for <%= raw @category_years[0]%>'
            },
            subtitle: {
                text: 'Accelerated Recovery'
            },
            xAxis: {
                categories: categoryMonths
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Revenue (in millions)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>${point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
              {
                name: "Low Revenue Estimate",
                data: lowRevByMonth
              },
              {
                name: 'Medium Revenue Estimate',
                data: mediumRevByMonth
              },
              {
                name: 'High Revenue Estimate',
                data: highRevByMonth
              }
            ]
        });
    });


</script>
