<% provide(:title, 'Revenue by Year: Expected') %>
<div class="chart container">
  <div class="col-lg-10 col-lg-offset-2">
    <div id="revenueByYearExpected" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <br>
    <div class='center'>
      <%= link_to "Accelerated Recovery", revenue_by_year_accelerated_path, class: "btn btn-md btn-default" %>
      <%= link_to "Expected Recovery", revenue_by_year_expected_path, class: "btn btn-md btn-default" %>
      <%= link_to "Slow Recovery", revenue_by_year_slow_path, class: "btn btn-md btn-default" %>
    </div>
  </div>
</div>
<script type="text/javascript">

 $(function () {

var categoryByYear = <%= @category_years %>;
var costByYear = <%= @cost_by_year %>;
var referralFee = <%= @referral_by_year %>;
var revByYearHigh = <%= @rev_by_year_high %>;
var revByYearMedium = <%= @rev_by_year_medium %>;
var revByYearLow = <%= @rev_by_year_low %>;
var categoryLinks = {
   "<%=@category_years[0] %>" : "<%=revenue_year_1_expected_url.to_str %>",
   "<%=@category_years[1] %>" : "<%=revenue_year_2_expected_url.to_str %>",
   "<%=@category_years[2] %>" : "<%=revenue_year_3_expected_url.to_str %>",
   "<%=@category_years[3] %>" : "<%=revenue_year_4_expected_url.to_str %>",
   "<%=@category_years[4] %>" : "<%=revenue_year_5_expected_url.to_str %>",
 };


  // Create the chart
  $('#revenueByYearExpected').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Estimated Net Fee By Year'
      },
      subtitle: {
          text: 'Expected Recovery Rate'
      },
      credits: {
        enabled: false
      },
      xAxis: {
          categories: categoryByYear,
          labels: {
                    formatter: function () {
                        return '<a href="'  + categoryLinks[this.value] + '">' + this.value + '</a>';
                    },
                    useHTML: true
                }
      },
      yAxis: {
          title: {
              text: 'Revenue'
          }
      },
      legend: {
          enabled: true
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>${point.y}</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true,
          positioner: function(boxWidth, boxHeight, point) {
            return {
                x: point.plotX - 40,
                y: point.plotY - 20
            };
        } //this moves the box out of the way of the category links
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [{
          name: 'Low Net Fee',
          data: revByYearLow,
      },
      {
          name: 'Medium Net Fee',
          data: revByYearMedium
      },
      {
          name: 'High Net Fee',
          data: revByYearHigh
      },
      {
          name: 'Estimated Case Expenses',
          color: 'red',
          data: costByYear
      },
      {
          name: 'Referral Fee',
          data: referralFee
      }],
  })
});

</script>
