<div class="chart container">
  <div class='col-lg-9 col-lg-offset-1'>
    <div id="revByFeeType" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
</div>

<script type="text/javascript">

  var categoryByYear = <%= @category_years %>;
  var mixedRevenue = <%= @mixed_rev %>;
  var contingencyRevenue = <%= @contingency_rev %>;
  var hourlyRevenue = <%= @hourly_rev %>;
  var fixedFeeRevenue = <%= @fixed_fee_rev %>;

  $(function () {
      $('#revByFeeType').highcharts({
          chart: {
              type: 'column'
          },
          title: {
              text: 'Expected Revenue By Fee Type'
          },
          credits: {
            enabled: false
          },
          xAxis: {
              categories: categoryByYear
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Revenue'
              },
              stackLabels: {
                  enabled: true,
                  style: {
                      fontWeight: 'bold',
                      color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                  }
              }
          },
          legend: {
              align: 'right',
              x: -70,
              verticalAlign: 'top',
              y: 20,
              floating: true,
              backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
              borderColor: '#CCC',
              borderWidth: 1,
              shadow: false
          },
          tooltip: {
              formatter: function() {
                  return '<b>'+ this.x +'</b><br/>'+
                      this.series.name +': '+ this.y +'<br/>'+
                      'Total: '+ this.point.stackTotal;
              }
          },
          plotOptions: {
              column: {
                  stacking: 'normal',
                  dataLabels: {
                      enabled: true,
                      color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                      style: {
                          textShadow: '0 0 3px black, 0 0 3px black'
                      }
                  }
              }
          },
          series: [{
              name: 'Continency',
              data: contingencyRevenue
          },
          {
              name: 'Mixed',
              data: mixedRevenue
          },
          {
              name: 'Hourly',
              data: hourlyRevenue
          }, {
              name: 'Fixed',
              data: fixedFeeRevenue
          }]
      });
  });
// Contingency, Mixed, Hourly, Fixed
</script>

