<% provide(:title, "Edit Staff") %>

<h1>Edit Staff for <%= "#{@lawfirm.firm_name}" %> </h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@staff, url: {action: "update"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "Full Name:" %>
      <%= f.text_field :full_name %>

      <%= f.label "Position:" %>
      <%= f.text_field :position %>

      <%= f.label "Hourly Rate:" %>
      <%= f.text_field :hourly_rate, :placeholder => "If Applicable" %>

       <%= f.submit "Update Staff", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
