<% provide(:title, "Edit Staff") %>

<h1>Edit Staff for <%= "#{@lawfirm.firm_name}" %> </h1>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= form_for(@staff, url: {action: "update"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

     <table class="table">
        <tr>
          <td><%= f.label "First Name:" %></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td><%= f.label "Last Name:" %></td>
          <td><%= f.text_field :last_name %></td>
        </tr>
        <tr>
          <td><%= f.label "Position:" %></td>
          <td><%= f.select(:position, Staffing.all_positions(current_user).uniq.sort, :include_blank => "Select") %>
          </td>
        </tr>
        <tr>
          <td><%= f.label "Hourly Rate:" %></td>
          <td><%= f.text_field :hourly_rate, :placeholder => "If Applicable" %></td>
        </tr>
      </table>

       <%= f.submit "Update Staff", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
