<% provide(:title, "Edit Staff") %>

<h1>Edit Staff for <%= "#{@lawfirm.firm_name}" %> </h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@staff, url: {action: "update"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

     <table class="table">
        <tr>
          <td><%= f.label "Full Name:" %></td>
          <td><%= f.text_field :full_name %></td>
        </tr>
        <tr>
          <td><%= f.label "Position:" %></td>
          <td><%= f.text_field :position %></td>
        </tr>
        <tr>
          <td><%= f.label "Hourly Rate:" %></td>
          <td><%= f.text_field :hourly_rate, :placeholder => "If Applicable" %></td>
        </tr>
      </table>

       <%= f.submit "Update Staff", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
