<h1>Staff for <%= "#{@lawfirm.firm_name}" %></h1>

<table class="table table-hover sortable">
  <thead>
    <tr>
      <td><b>Name</td>
      <td><b>Position</td>
      <td><b>Hourly Rate</td>
      <td><b>Edit</b></td>
    </tr>
  </thead>
  <tbody>
    <% if @staffing.present? %>
      <% @staffing.each do |staff| %>
        <tr>
          <td><%= User.full_name_last_first(staff) %> </td>
          <td><%= staff.position %></td>
          <td><%= staff.hourly_rate %></td>
          <td><%= link_to "Edit", edit_user_lawfirm_staffing_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id, :id => staff.id) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class='center'>

  <%= link_to 'Add Staff', new_user_lawfirm_staffing_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id) %>
</div>


<%= will_paginate @staffing, renderer: BootstrapPagination::Rails %>
