<h1>Staff for <%= "#{@lawfirm.firm_name}" %></h1>


  <table id="lawStaff" class="display">
    <thead>
      <tr>
        <td><b>Name</td>
        <td><b>Email</td>
        <td><b>Position</td>
        <td><b>Edit</b></td>
      </tr>
    </thead>
    <tbody>
        <% @staffing.each do |staff| %>
          <tr>
            <td><%= Staffing.full_name_last_first(staff) %> </td>
            <td><%= staff.email %></td>
            <td><%= staff.position %></td>
            <td><%= link_to "Edit", edit_user_lawfirm_staffing_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id, :id => staff.id) %></td>
          </tr>
        <% end %>
    </tbody>
  </table>


<div class='center'>
  <%= link_to 'Add Staff', new_user_lawfirm_staffing_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id), :class => 'btn btn-md btn-primary' %>
</div>


