<h1>Staff for <%= "#{@lawfirm.firm_name}" %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <td>Name</td>
      <td>Position</td>
      <td>Edit</td>
    </tr>
  </thead>
  <tbody>
    <% if current_user.lawfirm.staffings.present? %>
      <% @staffing.order(:last_name).each do |staff| %>
        <tr>
          <td><%= staff.last_name %>, <%= staff.first_name %> </td>
          <td><%= staff.position %></td>
          <td><%= link_to "Edit", edit_user_lawfirm_staffing_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id, :id => staff.id) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class='center'>

  <%= link_to 'Add Staff', new_user_lawfirm_staffing_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id) %>
</div>
