<% provide(:title, "Add Staff") %>

<h1>Add Staff to <%= "#{@lawfirm.firm_name}" %> </h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@staffing, url: {action: "create"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "Full Name:" %>
      <%= f.text_field :full_name %>

      <%= f.label "Position:" %>
      <%= f.text_field :position %>

       <%= f.submit "Add Staff", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
