<div class='container'>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

    <%= form_for(@case, url: {action: "create_case"})  do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <table class="table">
          <tr>
            <td><%= f.label 'Case Name:' %></td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><%= f.label 'Court:' %></td>
            <td><%= f.text_field :court %></td>
          </tr>
          <tr>
            <td><%= f.label 'Judge:' %></td>
            <td><%= f.text_field :judge %></td>
          </tr>
          <tr>
            <td><%= f.label 'Case Number:' %></td>
            <td><%= f.text_field :case_number %></td>
          </tr>
          <tr>
            <td><%= f.label 'Opposing Attorney:' %></td>
            <td><%= f.text_field :opposing_attorney %> </td>
          </tr>
          <tr>
            <td><%= f.label 'Matter Type:' %></td>
            <td><%= f.text_field :type_of_matter %></td>
          </tr>
          <tr>
            <td><%= f.label 'Related Cases:' %></td>
            <td><%= f.select(:related_cases, current_user.lawfirm.cases.all.map { |c| c.name }.prepend("N/A"), :include_blank => "Select Related Cases or N/A") %></td>
          </tr>
          <tr>
            <td><%= f.label 'Practice Group:' %></td>
            <td><%= f.collection_select(:practice_group, current_user.lawfirm.practicegroups, :group_name, :group_name) %></td>
          </tr>
          <tr>
            <td><%= f.label 'Client Name:' %></td>
            <td> <%= f.collection_select(:client_id, current_user.lawfirm.clients, :id, :client_name) %></td>
          </tr>

        </table>


      <br>
      <div class='center'>
        <h4>Fees</h4>
      </div>
      <br>
      <div class="fee">
        <%= f.fields_for :fees do |ff| %>

          <table class='table'>
          <tr>
            <td><%= ff.label "Fee Type:" %></td>
            <td><%= ff.select :fee_type, Fee::FEE_TYPE %></td>
          </tr>

          <tr>
            <td><%= ff.label "High Value Estimate:" %></td>
            <td><%= ff.text_field :high_estimate %></td>
          </tr>
          <tr>
            <td><%= ff.label "Medium Value Estimate:" %></td>
            <td><%= ff.text_field :medium_estimate %></td>
          </tr>
          <tr>
            <td><%= ff.label "Low Value Estimate:" %></td>
            <td><%= ff.text_field :low_estimate %></td>
          </tr>
          <tr>
            <td><%= ff.label "Likelihood of Recovery:" %></td>
            <td><%= ff.select :payment_likelihood, Fee::FEE_PAYMENT_LIKELIHOOD %></td>
          </tr>
          <tr>
            <td><%= ff.label "Fee Owed to Referral Source:" %></td>
            <td><%= ff.text_field :referral %></td>
          </tr>
          <tr>
            <td><%= ff.label "Estimated Out-of-Pocket Expenses:" %></td>
            <td><%= ff.text_field :cost_estimate %></td>
          </tr>
          <tr>
            <td><%= ff.label "Retainer:" %></td>
            <td><%= ff.text_field :retainer %></td>
          </tr>
        </table>


        <%end%>
      </div> <!-- FEE DIV -->
      <br>
      <br>
      <div class='center'>
        <h4>Staff</h4>
      </div>
      <div class='staff'>
        <%= f.fields_for :staffs do |staff| %>
          <% render 'staff_fields', :f => staff %>
          <div class='center'>
            <%= link_to_add_association "Click to Add More Staff", f, :staffs %> <br><br>
            <%= link_to "New Staff? Click here", new_user_lawfirm_staffing_path(@current_user.id, @current_user.lawfirm.id) %>

          </div>
        <% end %>
      </div> <!-- STAFF DIV -->
      <br>
      <br>
      <br>
      <div class='center'>
        <h4>Timing</h4>
      </div>
      <div class='timing'>
        <%= f.fields_for :timings do |ff| %>

        <table class='table'>
          <tr>
            <td><%= ff.label "File Opened:" %></td>
            <td><%= ff.date_field :date_opened, id: 'datepicker' %></td>
          </tr>
          <tr>
            <td><%= ff.label "Case Filed:" %></td>
            <td><%= ff.date_field :case_filed, id: 'datepicker' %></td>
          </tr>
          <tr>
            <td><%= ff.label "Fastest Estimated Conclusion:" %></td>
            <td><%= ff.text_field :estimated_conclusion_fast, placeholder: "Months from Now" %></td>
          </tr>
          <tr>
            <td><%= ff.label "Expected Estimated Conclusion:" %></td>
            <td><%= ff.text_field :estimated_conclusion_expected, placeholder: "Months from Now" %></td>
          </tr>
          <tr>
            <td><%= ff.label "Slowest Estimated Conclusion:" %></td>
            <td><%= ff.text_field :estimated_conclusion_slow, placeholder: "Months from Now" %></td>
          </tr>
        </table>

        <% end %>
      </div> <!-- Timing DIV -->
      <br>
      <br>
      <br>
      <div class='center'>
        <h4>Origination</h4>
      </div>
      <div class='origination'>
        <%= f.fields_for :originations do |ff| %>

          <table class='table'>
            <tr>
              <td><%= ff.label "Referral Source:" %></td>
              <td><%= ff.select :referral_source, Origination::REFERRALS, :include_blank => "Select" %></td>
            </tr>
            <tr>
              <td><%= ff.label "More Information:" %></td>
              <td><%= ff.text_field :source_description %></td>
            </tr>
          </table>

        <% end %>
      </div> <!-- Originations DIV -->
      <br>
      <br>
      <br>
      <div class='center'>
        <h4>Conflicts</h4>
      </div>
      <div class='checks'>
        <%= f.fields_for :checks do |ff| %>

          <table class='table'>
            <tr>
              <td> <%= ff.label "Conflict Check:" %></td>
              <td>Completed?     <%= ff.check_box :conflict_check %></td>
            </tr>
            <tr class="hide" id="conflict-date">
              <td><%= ff.label "Conflict Date:" %></td>
              <td><%= ff.date_field :conflict_date, id: 'datepicker' %></td>
            </tr>
            <tr>
              <td><%= ff.label "Referring Engagement Letter?" %></td>
              <td>Completed?  <%= ff.check_box :referring_engagement_letter %></td>
            </tr>
            <tr class="hide" id="referring-date">
              <td><%= ff.label "Referring Engagement Letter Date:" %></td>
              <td><%= ff.date_field :referring_engagement_letter_date, id: 'datepicker' %></td>
            </tr>

            <tr>
              <td><%= ff.label "Client Engagement Letter?" %></td>
              <td>Completed? <%= ff.check_box :client_engagement_letter %></td>
            </tr>
            <tr class="hide" id="client-engagement-date">
              <td><%= ff.label "Client Engagement Letter Date:" %></td>
              <td><%= ff.date_field :client_engagement_letter_date, id: 'datepicker' %></td>
            </tr>
          </table>
          <% end %>
      </div> <!-- CHECKS DIV -->
      <div class="center">
        <%= f.submit "Create Case", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  $("#case_checks_attributes_0_conflict_check").click(function(){
     $("#conflict-date").toggleClass('show')
   });
  $("#case_checks_attributes_0_referring_engagement_letter").click(function(){
     $("#referring-date").toggleClass('show')
   });
  $("#case_checks_attributes_0_client_engagement_letter").click(function(){
     $("#client-engagement-date").toggleClass('show')
   });
</script>

