 <%= form_for(@case, url: {action: "create_case"})  do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label 'Case Name:' %>
      <%= f.text_field :name %>

      <%= f.label 'Matter Reference:' %>
      <%= f.collection_select(:matter_reference, current_user.lawfirm.case_types, :mat_ref, :mat_ref) %>

      <%= f.label 'Case Description:' %>
      <%= f.text_area :description %>

      <%= f.label 'Practice Group:' %>
      <%= f.select(:practice_group, current_user.lawfirm.practicegroups.all.map { |c| [c.group_name] }, :include_blank => "Please Select") %> <br>
      <%= link_to "New Practice Group? Click here", new_user_lawfirm_practicegroup_path(current_user.id, current_user.lawfirm.id)  %><br><br>

      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div> <!-- div to popup practicegroup modal -->

      <%= f.label 'Client Name:' %>
      <%= f.collection_select(:client_id, current_user.lawfirm.clients, :id, :client_name) %>

      <br>
      <br>
      <br>
      <div class='center'>
        <h4>Fees</h4>
      </div>
      <div class="fee">
        <%= f.fields_for :fees do |ff| %>

          <%= ff.label "Fee Type:" %>
          <%= ff.select :fee_type, Fee::FEE_TYPE %>

          <%= ff.label "High Value Estimate:" %>
          <%= ff.text_field :high_estimate %>

          <%= ff.label "Medium Value Estimate:" %>
          <%= ff.text_field :medium_estimate %>

          <%= ff.label "Low Value Estimate:" %>
          <%= ff.text_field :low_estimate %>

          <%= ff.label "Likelihood of Fee Payment:" %>
          <%= ff.select :payment_likelihood, Fee::FEE_PAYMENT_LIKELIHOOD %>

          <%= ff.label "Retainer:" %>
          <%= ff.text_field :retainer %>

          <%= ff.label "Estimated Cost:" %>
          <%= ff.text_field :cost_estimate %>

        <%end%>
      </div> <!-- FEE DIV -->
      <br>
      <br>
      <br>
      <div class='center'>
        <h4>Staff</h4>
      </div>
      <div class='staff'>
        <%= f.fields_for :staffs do |staff| %>
          <% render 'staff_fields', :f => staff %>
          <div class='center'>
            <%= link_to_add_association "Click to Add More Staff", f, :staffs %>
          </div>
        <% end %>
      </div> <!-- STAFF DIV -->
      <br>
      <br>
      <br>
      <div class='center'>
        <h4>Timing</h4>
      </div>
      <div class='timing'>
        <%= f.fields_for :timings do |ff| %>

          <%= ff.label "Date Opened:" %>
          <%= ff.date_field :date_opened, id: 'datepicker' %>

          <%= ff.label "Accelerated Estimated Conclusion:" %>
          <%= ff.text_field :estimated_conclusion_fast, placeholder: "Months from Now"%>

          <%= ff.label "Expected Estimated Conclusion:" %>
          <%= ff.text_field :estimated_conclusion_expected, placeholder: "Months from Now" %>

          <%= ff.label "Slow Estimated Conclusion:" %>
          <%= ff.text_field :estimated_conclusion_slow, placeholder: "Months from Now" %>

        <% end %>
      </div> <!-- Timing DIV -->
      <br>
      <br>
      <br>
      <div class='center'>
        <h4>Origination</h4>
      </div>
      <div class='origination'>
        <%= f.fields_for :originations do |ff| %>

          <%= ff.label "Referral Source:" %>
          <%= ff.text_field :referral_source %>

          <%= ff.label "Existing Client:" %>
          <%= ff.select :existing_client, Origination::EXISTING_CLIENT_CHOICES %>

          <%= ff.label "Other Source:" %>
          <%= ff.text_field :other_source %>

        <% end %>
      </div> <!-- Originations DIV -->
      <br>
      <br>
      <br>
      <div class='center'>
        <h4>Venue</h4>
      </div>
      <div class='venue'>
        <%= f.fields_for :venues do |ff| %>

          <%= ff.label "Jurisdiction:" %>
          <%= ff.select :jurisdiction, Venue::JURISDICTION_CHOICES %>

          <%= ff.label "Judge:" %>
          <%= ff.text_field :judge %>

        <% end %>
      </div> <!-- VENUE DIV -->
      <br>
      <br>
      <br>
      <div class='center'>
        <h4>Checks</h4>
      </div>
      <div class='checks'>
        <%= f.fields_for :checks do |ff| %>

            <%= ff.label "Conflict Check Date:" %>
            <%= ff.date_field :conflict_check %>

            <%= ff.label "Retention Letter Date:" %>
            <%= ff.date_field :retention_letter %>

        <% end %>
      </div> <!-- CHECKS DIV -->
    <%= f.submit "Create Case", class: "btn btn-large btn-primary" %>
  <% end %>



