<div class='container'>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

    <%= form_for(@case, url: {action: "create_case"})  do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <h2>Case Information</h2>
      <table class="table">
          <tr>
            <td><%= f.label 'Client Name:' %></td>
            <td> <%= f.select(:client_id, Client.company_and_full_names(current_user), :include_blank => 'Select Client') %></td>
            <td><%= link_to "New Client? Click Here", new_client_path, class: 'btn btn-sm btn-primary' %></td>
          </tr>
          <tr>
            <td><%= f.label 'Case Name:' %></td>
            <td><%= f.text_field :name %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label 'Court:' %></td>
            <td><%= f.select(:court, current_user.lawfirm.cases.order(:court).collect(&:court).uniq - ["", nil], :include_blank => "Select Existing") %></td>
            <td><%= f.text_field :new_court, placeholder: "Add New" %></td>

          </tr>
          <tr>
            <td><%= f.label 'Judge:' %></td>
            <td><%= f.select(:judge, current_user.lawfirm.cases.order(:judge).collect(&:judge).uniq - ["",nil], :include_blank => "Select Existing")%></td>
            <td><%= f.text_field :new_judge, placeholder: "Add New" %></td>
          </tr>
          <tr>
            <td><%= f.label 'Case Number:' %></td>
            <td><%= f.text_field :case_number %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label 'Opposing Counsel:' %></td>
            <td><%= f.select(:opposing_attorney, current_user.lawfirm.cases.order(:opposing_attorney).collect(&:opposing_attorney).uniq - ["",nil], :include_blank => "Select Existing") %> </td>
            <td><%= f.text_field :new_opposing_attorney, placeholder: "Add New" %> </td>
          </tr>
          <tr>
            <td><%= f.label 'Practice Group:' %></td>
            <td><%= f.collection_select(:practicegroup_id, current_user.lawfirm.practicegroups.order(:group_name), :id, :group_name, :include_blank => "Select Existing") %></td>
            <td><%= f.text_field :new_practice_group, placeholder: "Add New" %></td>
          </tr>

          <tr>
            <td><%= f.label "Notes and Description" %></td>
            <td><%= f.text_area :description %></td>
            <td></td>
          </tr>
        </table>
        <hr>

        <div class="matterTypes">
          <div class='center'><h2>Matter Types</h2></div>

          <%= f.fields_for :matters do |matter| %>
            <table class="table">
              <tr>
                <td><%= matter.label "Matter Type:" %></td>
                <td><%= matter.collection_select(:case_type_id, current_user.lawfirm.case_types.all, :id, :mat_ref, :include_blank => "Select") %></td>
              </tr>
            </table>
            <% render 'matter_fields', :f => matter %>

            <div class='center'>
              <%= link_to_add_association "Click to Add Matter Types", f, :matters %>
            </div>
          <% end %>
        </div>
        <hr>

        <div class="relatedCases">
          <div class='center'><h2>Related Cases</h2></div>

          <%= f.fields_for :related_cases do |rel_case| %>
              <table class="table">
                <tr>
                  <td><%= rel_case.label :related_case_id, "Related Cases:" %></td>
                  <td><%= rel_case.collection_select(:related_case_id, current_user.lawfirm.cases.all, :id, :name, :include_blank => "Select") %></td>
                </tr>
              </table>
            <% render 'related_case_fields', :f => rel_case%>

            <div class='center'>
              <%= link_to_add_association "Click to add Related Cases", f, :related_cases %>
            </div>
          <% end %>
        </div>



      <br>
      <div class='center'>
        <h2>Fees</h2>
      </div>
      <br>
      <div class="fee">
        <%= f.fields_for :fees do |ff| %>

          <table class='table'>
          <tr>
            <td><%= ff.label "Fee Type:" %></td>
            <td><%= ff.select :fee_type, StaticInformation::FEE_TYPE, include_blank: "Select Fee Type" %></td>
          </tr>

            <tr class='contingency'>
              <td><%= ff.label "High Value Estimate:" %></td>
              <td><%= ff.text_field :high_estimate, class: 'monetary' %></td>
            </tr>
            <tr class='contingency fixed'>
              <!-- Change label name if fixedfee or hourly case -->
              <td id="feeNameChange"><span><b>Medium Value Estimate:</b></span></td>
              <td><%= ff.text_field :medium_estimate, class: 'monetary' %></td>
            </tr>
            <tr class='contingency'>
              <td><%= ff.label "Low Value Estimate:" %></td>
              <td><%= ff.text_field :low_estimate, class: 'monetary' %></td>
            </tr>
            <tr class='contingency fixed'>
              <td><%= ff.label "Likelihood of Recovery:" %></td>
              <td><%= ff.select :payment_likelihood, StaticInformation::FEE_PAYMENT_LIKELIHOOD %></td>
            </tr>
            <tr class='contingency fixed'>
              <td><%= ff.label "Fee Owed to Referral Source:" %></td>
              <td><%= ff.text_field :referral, class: 'monetary' %></td>
            </tr>
            <tr class='contingency fixed'>
              <td><%= ff.label "Estimated Out-of-Pocket Expenses:" %></td>
              <td><%= ff.text_field :cost_estimate, class: 'monetary' %></td>
            </tr>
            <tr class='contingency fixed'>
              <td><%= ff.label "Retainer:" %></td>
              <td><%= ff.text_field :retainer, class: 'monetary' %></td>
            </tr>

        </table>

        <hr>

        <%end%>
      </div> <!-- FEE DIV -->
      <br>
      <br>
       <div class='center'>
        <h2>Timing</h2>
      </div>
      <div class='timing'>
        <%= f.fields_for :timings do |ff| %>

        <table class='table'>
          <tr>
            <td><%= ff.label "File Opened:" %></td>
            <td><%= ff.date_field :date_opened, id: 'datepicker' %></td>
          </tr>
          <tr>
            <td><%= ff.label "Case Filed:" %></td>
            <td><%= ff.date_field :case_filed, id: 'datepicker' %></td>
          </tr>
          <tr>
            <td><%= ff.label "Fastest Estimated Conclusion:" %></td>
            <td><%= ff.text_field :estimated_conclusion_fast, placeholder: "Months from Now" %></td>
          </tr>
          <tr>
            <td><%= ff.label "Expected Estimated Conclusion:" %></td>
            <td><%= ff.text_field :estimated_conclusion_expected, placeholder: "Months from Now" %></td>
          </tr>
          <tr>
            <td><%= ff.label "Slowest Estimated Conclusion:" %></td>
            <td><%= ff.text_field :estimated_conclusion_slow, placeholder: "Months from Now" %></td>
          </tr>
        </table>

        <% end %>
        <hr>
      </div> <!-- Timing DIV -->
      <br>
      <br>
      <br>


      <div class='center'>
        <h2>Staff</h2>
      </div>
      <div class='staff'>
        <%= f.fields_for :staffs do |staff| %>
            <table class="table">
              <tr>
                <td><%= staff.label "Name:" %></td>
                <td><%= staff.collection_select(:staffing_id, current_user.lawfirm.staffings.order(:full_name).all, :id, :full_name, :include_blank => "Select") %></td>
                <td class='hidden'>
              </tr>
              <tr>
                <td><%= staff.label "Position:" %></td>
                <td><%= staff.select(:position, Staffing.all_positions(current_user).uniq.sort, :include_blank => "Select") %></td>
              </tr>
              <tr class="expectedTotalHours">
                <td><%= staff.label :hours_expected, "Expected Total Hours:" %></td>
                <td><%= staff.text_field :hours_expected, :placeholder => "Leave blank if case is closed." %></td>
              <tr>
                <td><%= staff.label :hours_actual, "Actual Hours Worked:" %></td>
                <td><%= staff.text_field :hours_actual, :placeholder => 'Leave blank if none.' %></td>
              </tr>
            </table>
          <% render 'staff_fields', :f => staff %>
          <div class='center'>
            <%= link_to_add_association "Click to Add More Staff", f, :staffs %> <br><br>
            <%= link_to "New Staff? Click here", new_user_lawfirm_staffing_path(current_user.id, current_user.lawfirm.id), class: 'btn btn-primary btn-md'  %>

          </div>
        <% end %>
        <hr>
      </div> <!-- STAFF DIV -->



      <br>
      <br>
      <br>

      <div class='center'>
        <h2>Origination</h2>
      </div>
      <div class='origination'>
        <%= f.fields_for :originations do |ff| %>

          <table class='table'>
            <tr>
              <td><%= ff.label "Referral Source:" %></td>
              <td><%= ff.select(:referral_source, Origination.all_referral_sources(current_user), :include_blank => "Select") %></td>
              <td><%= ff.text_field :new_referral_source, placeholder: "Add New" %></td>
            </tr>
            <tr>
              <td><%= ff.label "More Information:" %></td>
              <td><%= ff.text_field :source_description %></td>
              <td></td>
            </tr>
          </table>

        <% end %>
        <hr>
      </div> <!-- Originations DIV -->



      <br>
      <br>
      <br>
      <div class='center'>
        <h2>Conflicts</h2>
      </div>
      <div class='checks'>
        <%= f.fields_for :checks do |ff| %>

          <table class='table'>
            <tr>
              <td> <%= ff.label "Conflict Check:" %></td>
              <td>Completed?     <%= ff.check_box :conflict_check %></td>
            </tr>
            <tr class="hide" id="conflict-date">
              <td><%= ff.label "Conflict Date:" %></td>
              <td><%= ff.date_field :conflict_date, id: 'datepicker' %></td>
            </tr>
            <tr>
              <td><%= ff.label "Referring Engagement Letter?" %></td>
              <td>Completed?  <%= ff.check_box :referring_engagement_letter %></td>
            </tr>
            <tr class="hide" id="referring-date">
              <td><%= ff.label "Referring Engagement Letter Date:" %></td>
              <td><%= ff.date_field :referring_engagement_letter_date, id: 'datepicker' %></td>
            </tr>

            <tr>
              <td><%= ff.label "Client Engagement Letter?" %></td>
              <td>Completed? <%= ff.check_box :client_engagement_letter %></td>
            </tr>
            <tr class="hide" id="client-engagement-date">
              <td><%= ff.label "Client Engagement Letter Date:" %></td>
              <td><%= ff.date_field :client_engagement_letter_date, id: 'datepicker' %></td>
            </tr>
          </table>
          <% end %>
          <hr>
      </div> <!-- CHECKS DIV -->
      <div class="center">
        <%= f.submit "Create Case", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  $("#case_checks_attributes_0_conflict_check").click(function(){
     $("#conflict-date").toggleClass('show');
   });
  $("#case_checks_attributes_0_referring_engagement_letter").click(function(){
     $("#referring-date").toggleClass('show');
   });
  $("#case_checks_attributes_0_client_engagement_letter").click(function(){
     $("#client-engagement-date").toggleClass('show');
   });


  $(document).on('submit', function(){

    $('.monetary').each(function(i,obj) {
      currency = $(this).val();
      $(this).val(Number(currency.replace(/[\$,]/g,"")))
    });

  });
</script>

