<div class='nested-fields'>

  <table class="table">
    <tr>
      <td><%= f.label "Name:" %></td>
      <td><%= f.collection_select(:staffing_id, current_user.lawfirm.staffings.order(:full_name).all, :id, :full_name, :include_blank => "Select") %></td>
      <td class='hidden'>
    </tr>
    <tr>
      <td><%= f.label "Position:" %></td>
      <td><%= f.select(:position, Staffing.all_positions(current_user).uniq.sort, :include_blank => "Select") %></td>
    </tr>
    <tr>
      <td><%= f.label "Expected Total Hours:" %></td>
      <td><%= f.text_field :hours_expected %></td>
    <tr>
      <td><%= f.label "Actual Hours Worked:" %></td>
      <td><%= f.text_field :hours_actual, :placeholder => 'Leave blank if new case' %></td>
    </tr>
</div>
