<div class='nested-fields'>

  <table class="table">
    <tr>
      <td><%= f.label "Name:" %></td>
      <td><%= f.select(:name, Staffing.all_full_name_last_first(current_user), :include_blank => "Select") %></td>
    </tr>
    <tr>
      <td><%= f.label "Position:" %></td>
      <td><%= f.select(:position, Staffing.all_positions(current_user).uniq.sort, :include_blank => "Select") %></td>
    </tr>
    <tr>
      <td><%= f.label "Expected Total Hours:" %></td>
      <td><%= f.text_field :hours_expected %></td>
    <tr>
      <td><%= f.label "Actual Hours Worked:" %></td>
      <td><%= f.text_field :hours_actual, :placeholder => 'Leave blank if new case' %></td>
    </tr>
</div>
