<% provide(:title, 'Update Case Matter') %>

<%= render 'shared/subheader' %>

<h1>Update Case Matter</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @case, url: {action: "update"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label 'Matter Reference:' %>
      <%= f.select :matter_reference, Case::MATTER_REFERENCES %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label 'Practice Group:' %>
      <%= f.collection_select(:practice_group, current_user.lawfirm.practicegroups, :group_name, :group_name) %>
      <!-- do not select all practice groups...only practice groups that belong to user's lawfirm -->

      <%= f.submit "Update Case", class: "btn btn-large btn-primary" %>
    <% end %>


  </div>
</div>
