<% provide(:title, 'Update Case Matter') %>

<%= render 'shared/subheader' %>

<h2>Update Case Information</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @case, url: {action: "update"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label 'Case Name:' %>
      <%= f.text_field :name %>

      <%= f.label 'Court:' %>
      <%= f.text_field :court %>

      <%= f.label 'Judge:' %>
      <%= f.text_field :judge %>

      <%= f.label 'Case Number:' %>
      <%= f.text_field :case_number %>

      <%= f.label 'Opposing Attorney:' %>
      <%= f.text_field :opposing_attorney %>

      <%= f.label 'Matter Type:' %>
      <%= f.text_field :type_of_matter %>

      <%= f.label 'Related Cases:' %>
      <%= f.text_field :related_cases %>

      <%= f.label 'Practice Group:' %>
      <%= f.collection_select(:practice_group, current_user.lawfirm.practicegroups, :group_name, :group_name) %>

      <h2>Note:  <%= link_to "Add Practice Group", new_user_lawfirm_practicegroup_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm_id) %> if missing. </h2>
      <!-- do not select all practice groups...only practice groups that belong to user's lawfirm -->


      <%= f.submit "Update Case", class: "btn btn-large btn-primary" %>
    <% end %>


  </div>
</div>
