<% provide(:title, "New Case") %>
<h1><%= "New Case for #{@client.client_name}" %> </h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_for @case, url: {action: "create"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label 'Case Name:' %>
      <%= f.text_field :name %>

      <%= f.label 'Matter Reference:' %>
      <%= f.select :matter_reference, Case::MATTER_REFERENCES %>

      <%= f.label 'Case Description:' %>
      <%= f.text_area :description %>

      <%= f.label 'Practice Group:' %>
      <%= f.collection_select(:practice_group, current_user.lawfirm.practicegroups, :group_name, :group_name) %>

      <h2>Note:  <%= link_to "Add Practice Group", new_user_lawfirm_practicegroup_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm_id) %> if it is missing. </h2>
      <!-- do not select all practice groups...only practice groups that belong to user's lawfirm -->

      <%= f.submit "Create Case", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
