<% provide(:title, "New Case") %>
<h1><%= "New Case for #{@client.client_name}" %> </h1>

<div class='container'>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <%= form_for @case, url: {action: "create"} do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <table class="table">
          <tr>
            <td><%= f.label 'Case Name:' %></td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><%= f.label 'Court:' %></td>
            <td><%= f.text_field :court %></td>
          </tr>
          <tr>
            <td><%= f.label 'Judge:' %></td>
            <td><%= f.text_field :judge %></td>
          </tr>
          <tr>
            <td><%= f.label 'Case Number:' %></td>
            <td><%= f.text_field :case_number %></td>
          </tr>
          <tr>
            <td><%= f.label 'Opposing Attorney:' %></td>
            <td><%= f.text_field :opposing_attorney %> </td>
          </tr>
          <tr>
            <td><%= f.label 'Matter Type:' %></td>
            <td><%= f.text_field :type_of_matter %></td>
          </tr>
          <tr>
            <td><%= f.label 'Related Cases:' %></td>
            <td><%= f.select(:related_cases, current_user.lawfirm.cases.all.map { |c| c.name }.prepend("N/A"), :include_blank => "Select Related Cases or N/A") %></td>
          </tr>
          <tr>
            <td><%= f.label 'Practice Group:' %></td>
            <td><%= f.collection_select(:practice_group, current_user.lawfirm.practicegroups, :group_name, :group_name) %></td>
          </tr>

        </table>

        <div class="center">
          <%= f.label 'Notes and Description' %>
          <%= f.text_area :description %>
        <!-- do not select all practice groups...only practice groups that belong to user's lawfirm -->
          <h2>
            Note:  <%= link_to "Add Practice Group", new_user_lawfirm_practicegroup_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm_id) %> if missing.
          </h2>

        <%= f.submit "Create Case", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
