<% provide(:title, "Case Info") %>

<h1>Case Information</h1>
<div class='case-matters'>
  <h2>Description: <%= @case.description %> </h2>
  <h2>Matter References: <%= @case.matter_reference %> </h2>
  <h2>Practice Group: <%= @case.practice_group %> </h2>
  <h2>
    <% if @case.fee.any? %>
      <%= link_to "Show Fee", client_case_fee_path(:case_id => @case.id, :client_id => params[:client_id], :id => @case.fee.first.id) %>
    <% else %>
      <%= link_to "Add Fee", new_client_case_fee_path(:case_id => @case.id, :client_id => params[:client_id]) %>
    <% end %>
    <% if @case.staff.any? %>
      <%= link_to "Show Staff", client_case_staff_path(:case_id => @case.id, :client_id => params[:client_id], :id => @case.staff.first.id) %>
    <% else %>
      <%= link_to "Add Staff", new_client_case_staff_path(:case_id => @case.id, :client_id => params[:client_id]) %>
    <% end %>
  </h2>
</div>
