<% provide(:title, "Case Info") %>

<%= render 'shared/subheader' %>

<h1>Case for <%="#{@client.client_name}"%></h1>
<div class='case-matters'>
  <h2>Description: <%= @case.description %> </h2>
  <h2>Matter References: <%= @case.matter_reference %> </h2>
  <h2>Practice Group: <%= @case.practice_group %> </h2>

