<% provide(:title, "Case Info") %>

<%= render 'shared/subheader' %>

<h1>Case for <%="#{@client.client_name}"%></h1>
<div class = 'center'>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Case Name</th>
        <th>Matter Reference</th>
        <th>Description</th>
        <th>Practice Group</th>
      </tr>
    </thead>
    <tbody>
      <td><%= @case.name %></td>
      <td><%= @case.matter_reference %></td>
      <td><%= @case.description %></td>
      <td><%= @case.practice_group %></td>
    </tbody>
  </table>
</div>
<br>
<br>
<h2><%= link_to "Update Case Matter", edit_client_case_path(@client,@case) %></h2>
</table>
