<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="">
  <div class="">
    <div class="">
      <%= form_for(@user, html: { class: "form-horizontal", id: "signupForm" }) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">
            <div class="">
              <%= f.label :first_name, "First Name", class: "control-label col-sm-3"%>
            </div>
            <div class='col-sm-6'>
              <td><%= f.text_field :first_name, autofocus: true, class: "form-control" %></td>
            </div>
          </div>

          <div class="form-group">
            <div class="">
              <td>  <%= f.label :last_name, "Last Name", class: "control-label col-sm-3" %></td>
            </div>
            <div class='col-sm-6'>
              <td><%= f.text_field :last_name, class: "form-control" %></td>
            </div>
          </div>

          <div class="form-group">
            <div class="">
              <td><%= f.label :email, class: "control-label col-sm-3" %></td>
            </div>
            <div class='col-sm-6'>
              <td><%= f.text_field :email, class: "form-control" %></td>
            </div>
          </div>

          <div class="form-group">
            <div class="">
              <td><%= f.label :password, class: "control-label col-sm-3" %></td>
            </div>
            <div class='col-sm-6'>
              <td><%= f.password_field :password, class: "form-control" %></td>
            </div>
          </div>

          <div class="form-group">
            <div class="">
              <td><%= f.label :password_confirmation, "Password Confirmation", class: "control-label col-sm-3" %></td>
            </div>
            <div class='col-sm-6'>
              <td><%= f.password_field :password_confirmation, class: "form-control" %></td>
            </div>
          </div>


      <div class="center">
        <%= f.submit "Create Account", class: "btn btn-large btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
