<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "ClarLegal", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "Home", root_path %></li>
          <% else %>
            <li><%= link_to "Home", root_path %></li>
          <% end %>

          <% if signed_in? %>

            <% if current_user.lawfirm_id != nil %>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Test Charts <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Cases by Practice Group", practice_group_cases_path %></li>
                  <li><%= link_to "Revenue by Practice Group", practice_group_revenues_path %></li>
                  <li><%= link_to "Expected Revenue by Year", revenue_by_year_path %></li>
                  <li><%= link_to "Expected Revenue by Practice Group by Year", revenue_by_year_practice_group_path %></li>

                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  My Firm <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Clients", user_lawfirms_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id) %></li>
                  <li><%= link_to "Cases", lawfirm_cases_path %></li>
                  <li><%= link_to "Staff", user_lawfirm_staffings_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id) %></li>
                  <li><%= link_to "Practice Groups", user_lawfirm_practicegroups_path(:user_id =>current_user.id,:lawfirm_id => current_user.lawfirm.id) %></li>
                  <li><%= link_to "Matter References", user_lawfirm_case_types_path(:user_id =>current_user.id,:lawfirm_id => current_user.lawfirm.id) %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Join Firm", new_user_lawfirm_path(current_user.id) %></li>
            <% end %>



              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  My Clients <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "All Clients", clients_path %></li>
                  <li><%= link_to "New Client", new_client_path %></li>

                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  My Cases <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "All Cases", user_cases_path %></li>
                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            <!-- </div> -->

            <!-- <div class='clientbar'> -->

            <!-- </div> -->

          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
