<!-- For Dashboard Sidebar of Actual Amounts -->

<div class="sidebar">
  <div class="col-lg-12">
    <ul class="nav nav-pills nav-stacked">
      <li class='center'><h2><b>Actual</b></h2></li>
      <li role='presentation'class="divider"></li>

      <li class="<%=is_active_graph?("graph_actuals","revenue_by_year") %>">
          <%= link_to "Revenue/Profit by Year", revenue_by_year_graph_actual_path(current_user.lawfirm_id) %>
      </li>
      <li role='presentation'class="divider"></li>

      <li class="<%=is_active_graph?("graph_actuals","closed_case_load_by_year") %>">
          <%= link_to "Cases by Practice Group", closed_case_load_by_year_graph_actual_path(params[:range] || 3) %>
      </li>
      <li role='presentation'class="divider"></li>

      <li class="<%=is_active_graph?("graph_actuals","revenue_by_pg") %>">
          <%= link_to "Fee Received by Practice Group", revenue_by_pg_graph_actual_path(current_user.lawfirm_id) %>
      </li>
      <li role='presentation'class="divider"></li>

      <li class="<%=is_active_graph?("graph_actuals","revenue_by_fee_type") %>">
          <%= link_to "Fee Received by Fee Type", revenue_by_fee_type_graph_actual_path(current_user.lawfirm_id) %>
      </li>
      <li role='presentation'class="divider"></li>

      <li class="<%=is_active_graph?("graph_actuals","revenue_by_origination") %>">
          <%= link_to "Fee Received by Origination Source", revenue_by_origination_graph_actual_path(current_user.lawfirm_id) %>
      </li>
      <li role='presentation'class="divider"></li>

      <li class="<%=is_active_graph?("graph_actuals","revenue_by_client") %>">
          <%= link_to "Client Profitability Average", revenue_by_client_graph_actual_path(current_user.lawfirm_id) %>
      </li>
      <li role='presentation'class="divider"></li>



    </ul>
  </div>
</div>
