
  <div class="sidebar">
    <div class="col-lg-9">
      <ul class="nav nav-pills nav-stacked">

        <li class="<%=is_active_graph?("graphs","practice_group_pie") %>">
          <%= link_to "Cases by Practice Group", practice_group_cases_path %>
        </li>
        <li role='presentation'class="divider"></li>

        <li class="<%=is_active_graph?("graphs","practice_group_revenue_pie_low") %>">
          <%= link_to "Revenue by Practice Group", practice_group_revenues_path %>
        </li>
         <li role='presentation' class="divider"></li>

        <li class="<%=is_active_graph?("graphs","actual_revenue_by_year") %>">
          <%= link_to "Actual Revenue by Year", revenue_by_year_actual_path %>
        </li>
         <li role='presentation' class="divider"></li>

        <li class="<%=is_active_for_drilldowns?("graph_drilldowns","rev_by_fee_type")%>">
         <%= link_to "Expected Revenue by Year", revenue_by_year_expected_path %>
       </li>
         <li class="divider"></li>

        <li class="<%=is_active_graph?("graphs","rev_by_year_by_pg") ||
                      is_active_graph?("graphs","rev_by_year_by_pg_high") ||
                      is_active_graph?("graphs","rev_by_year_by_pg_low")%>">
          <%= link_to "Expected Revenue by Practice Group by Year", revenue_by_year_practice_group_path %>
        </li>
         <li class="divider"></li>

        <li class="<%=is_active_graph?("graph_drilldowns","rev_by_fee_type")%>">
          <%= link_to "Expected Revenue by Fee Type", revenue_by_year_fee_type_path %>
        </li>
        <li class="divider"></li>

        <li class="<%= is_active_graph?("graph_individual_prac_groups","expected_individual_pg_rev") %> dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Individual Practice Groups <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" id="individualPracticeGroups">

          </ul>
        <li>
      </ul>
    </div>
  </div>

<script type="text/javascript">
  $(function () {
    <% prac_group = Graph.user_practice_groups(current_user) %>
    var allPracticeGroups = <%= raw prac_group %>;
    var allPracticeGroupIds = <%= raw Graph.user_practice_group_ids(current_user) %>
    var ulToAddTo = document.getElementById("individualPracticeGroups");
    for (var i in allPracticeGroups) {
      var pracgroupID = allPracticeGroupIds[i]
      var li = document.createElement("li");
      var a = document.createElement('a');
      var textForAElement = document.createTextNode(allPracticeGroups[i])
      a.appendChild(textForAElement)
      a.href =  "/practice_group/"+pracgroupID+"/revenue"
      li.appendChild(a);
      ulToAddTo.appendChild(li);
    };
  });


   $('ul.nav li.dropdown').hover(function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(150).fadeIn();
   }, function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(150).fadeOut();
   });


</script>
