<!-- For Dashboard Sidebar of Actual Amounts -->

<div class="sidebar">
  <div class="col-lg-12">
    <ul class="nav nav-pills nav-stacked">
      <li class='center'><h2><b>Actual</b></h2></li>
      <li role='presentation'class="divider"></li>

      <li class="<%=is_active_graph?("graph_actuals","revenue_by_year") %>">
          <%= link_to "Revenue/Profit by Year", revenue_by_year_graph_actual_path(current_user.lawfirm_id) %>
      </li>
      <li role='presentation'class="divider"></li>

      <li class="<%=is_active_graph?("graph_actuals","closed_case_load_by_year") %>">
          <%= link_to "Cases by Practice Group", closed_case_load_by_year_graph_actual_path(params[:range] || 3) %>
      </li>
      <li role='presentation'class="divider"></li>

      <li class="<%=is_active_graph?("graph_actuals","revenue_by_pg") %>">
          <%= link_to "Fee Received by Practice Group", revenue_by_pg_graph_actual_path(current_user.lawfirm_id) %>
      </li>
      <li role='presentation'class="divider"></li>

      <li class="<%=is_active_graph?("graph_actuals","revenue_by_fee_type") %>">
          <%= link_to "Fee Received by Fee Type", revenue_by_fee_type_graph_actual_path(current_user.lawfirm_id) %>
      </li>
      <li role='presentation'class="divider"></li>

      <li class="<%=is_active_graph?("graph_actuals","revenue_by_origination") %>">
          <%= link_to "Fee Received by Origination Source", revenue_by_origination_graph_actual_path(current_user.lawfirm_id) %>
      </li>
      <li role='presentation'class="divider"></li>

      <li class="<%=is_active_graph?("graph_actuals","revenue_by_client") %>">
          <%= link_to "Client Profitability", revenue_by_client_graph_actual_path(current_user.lawfirm_id) %>
      </li>
      <li role='presentation'class="divider"></li>

      <li class="<%= is_active_graph?("graph_actuals","individual_practice_group") %> dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Practice Groups <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" id="individualPracticeGroups">

          </ul>
      <li>

    </ul>
  </div>
</div>

<script type="text/javascript">
    $(function () {
      <% prac_group = Graph.user_practice_groups(current_user) %>
      var allPracticeGroups = <%= raw prac_group %>;
      var allPracticeGroupIds = <%= raw Graph.user_practice_group_ids(current_user) %>
      var ulToAddTo = document.getElementById("individualPracticeGroups");
      for (var i in allPracticeGroups) {
        var pracgroupID = allPracticeGroupIds[i]
        var li = document.createElement("li");
        var a = document.createElement('a');
        var textForAElement = document.createTextNode(allPracticeGroups[i])
        a.appendChild(textForAElement)
        a.href =  "/graph_actuals/"+pracgroupID+"/individual_practice_group"
        li.appendChild(a);
        ulToAddTo.appendChild(li);
      };
  });
</script>
