<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="">
            <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <!-- Begin Actual -->
          <li class="<%=is_active_graph?("graph_actuals","revenue_by_year") %> <%= is_active_graph?("graph_actuals","revenue_by_month")%>">
                <%= link_to "Revenue/Profit by Year", revenue_by_year_graph_actual_path(current_user.lawfirm_id) %>
          </li>

          <li class="<%=is_active_graph?("graph_actuals","closed_case_load_by_year") %>">
                <%= link_to "Cases by Practice Group", closed_case_load_by_year_graph_actual_path(params[:range] || 3) %>
          </li>

          <li class="<%=is_active_graph?("graph_actuals","revenue_by_pg") %>">
                <%= link_to "Fee Received by Practice Group", revenue_by_pg_graph_actual_path(current_user.lawfirm_id) %>
          </li>

          <li class="<%=is_active_graph?("graph_actuals","revenue_by_fee_type") %>">
                <%= link_to "Fee Received by Fee Type", revenue_by_fee_type_graph_actual_path(current_user.lawfirm_id) %>
          </li>

          <li class="<%=is_active_graph?("graph_actuals","revenue_by_origination") %>">
                <%= link_to "Fee Received by Origination Source", revenue_by_origination_graph_actual_path(current_user.lawfirm_id) %>
          </li>

          <li class="<%=is_active_graph?("graph_actuals","revenue_by_client") %>">
                <%= link_to "Client Profitability", revenue_by_client_graph_actual_path(current_user.lawfirm_id) %>
          </li>


          <li class='<%= is_active_graph?("graph_actuals","individual_practice_group") %>'>
            <a href="javascript:;" data-toggle="collapse" data-target="#practice-groups-actual" ><i class="fa fa-fw fa-arrows-v"></i>Practice Groups<i class="fa fa-fw fa-caret-down"></i></a>
              <ul id="practice-groups-actual" class="collapse">
              </ul>
          </li>

          <li class='<%= is_active_graph?("graph_actuals","revenue_by_attorney") %>'>
            <a href="javascript:;" data-toggle="collapse" data-target="#rev-attorney-actual" ><i class="fa fa-fw fa-arrows-v"></i>Attorneys<i class="fa fa-fw fa-caret-down"></i></a>
              <ul id="rev-attorney-actual" class="collapse">
              </ul>
          </li>
            <!-- \.End Actual -->
        </li>
    </ul>
</div>


<script type="text/javascript">
    $(function () {
      <% prac_group = Graph.user_practice_groups(current_user) %>
      var allPracticeGroups = <%= raw prac_group %>;
      var allPracticeGroupIds = <%= raw Graph.user_practice_group_ids(current_user) %>
      var ulToAddTo = document.getElementById("practice-groups-actual");
      for (var i in allPracticeGroups) {
        var pracgroupID = allPracticeGroupIds[i]
        var li = document.createElement("li");
        var a = document.createElement('a');
        var textForAElement = document.createTextNode(allPracticeGroups[i])
        a.appendChild(textForAElement)
        a.href =  "/graph_actuals/"+pracgroupID+"/individual_practice_group"
        li.appendChild(a);
        ulToAddTo.appendChild(li);
      };

      <% attorneys = current_user.lawfirm.staffings.order(:last_name).map {|att| att.full_name_last_first } %>;
      <% attorneyIds = current_user.lawfirm.staffings.order(:last_name).ids %>;
      var allAttorneys = <%= raw attorneys %>;
      var allAttorneyIds = <%= raw attorneyIds %>;
      var addToAttorneyUL = document.getElementById("rev-attorney-actual");
      for (var i in allAttorneys) {
        var attorneyID = allAttorneyIds[i];
        var liElement = document.createElement('li');
        var aElement = document.createElement('a');
        var newTextForAElement = document.createTextNode(allAttorneys[i]);
        aElement.appendChild(newTextForAElement);
        aElement.href = '/graph_actuals/'+attorneyID+'/revenue_by_attorney/';
        liElement.appendChild(aElement);
        addToAttorneyUL.appendChild(liElement);
      }
  });
</script>
