<div class="container">
   <div class="row">
      <nav class="navbar navbar-default" role="navigation">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">Cases</a>
         </div>
         <div>
            <ul class="nav navbar-nav">
               <li class="active">
                  <%= link_to "Matter", "#" %>
               </li>
               <li>
                  <%= link_to "Fee", "#" %>
               </li>
               <li>
                  <%= link_to "Staff", "#" %>
               </li>
               <li>
                  <%= link_to "Timing", "#" %>
               </li>
               <li>
                  <%= link_to "Origination", "#" %>
               </li>
               <li>
                  <%= link_to "Venue", "#" %>
               </li>
               <li>
                  <%= link_to "Checks", "#" %>
               </li>
            </ul>
         </div>
      </nav>
   </div>
</div>
