<div id='subheader center'>
   <div class="container">
      <div class="row">
         <nav class="navbar navbar-default" role="navigation">
            <div>
               <ul class="nav navbar-inner" id="subnav">
                  <!-- <div class='navtext'> -->
                     <li>
                        <%= link_to "Cases", client_cases_path(@client) %>
                     </li>
                     <li>
                        <%= link_to "Matter", "#" %>
                     </li>
                     <li>
                        <%= link_to "Fee", "#" %>
                     </li>
                     <li>
                        <%= link_to "Staff", "#" %>
                     </li>
                     <li>
                        <%= link_to "Timing", "#" %>
                     </li>
                     <li>
                        <%= link_to "Origination", "#" %>
                     </li>
                     <li>
                        <%= link_to "Venue", "#" %>
                     </li>
                     <li>
                        <%= link_to "Checks", "#" %>
                     </li>
                  <!-- </div> -->
               </ul>
            </div>
         </nav>
      </div>
   </div>
</div>
