<% provide(:title, 'Update Client Info') %>
<h1>Update Client Info</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for(@client) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <table class="table">
          <tr>
            <td><%= f.label :client_name %></td>
            <td><%= f.text_field :client_name %></td>
          </tr>
          <tr>
            <td><%= f.label :client_street_address %></td>
            <td><%= f.text_field :client_street_address %></td>
          </tr>
          <tr>
            <td><%= f.label :client_city_address %></td>
            <td><%= f.text_field :client_city_address %></td>
          </tr>
          <tr>
            <td><%= f.label :client_state_address %></td>
            <td><%= f.text_field :client_state_address %></td>
          </tr>
          <tr>
            <td><%= f.label :client_zip_code %></td>
            <td><%= f.text_field :client_zip_code %></td>
          </tr>
          <tr>
            <td><%= f.label :client_phone_number %></td>
            <td><%= f.text_field :client_phone_number %></td>
          </tr>
          <tr>
            <td><%= f.label :client_fax_number %></td>
            <td><%= f.text_field :client_fax_number %></td>
          </tr>
          <tr>
            <td><%= f.label :client_email %></td>
            <td><%= f.text_field :client_email %></td>
          </tr>
        </table>
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


