<% provide(:title, 'Client List') %>
<div class="row">
  <div class='title'>
    <h1>Client List</h1>
  </div>
  <% @search_path = clients_path %>
  <%= render 'shared/search_bar' %>
</div>

<table class="table table-hover sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cases</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Add Case</th>
    </tr>
  </thead>
  <tbody>
    <% if @client %>
      <% @client.each do |client| %>
        <tr>
          <td><%= link_to client.client_name, client_path(client) %></td>
          <td><%= link_to "Cases", client_cases_path(client) %></td>
          <td><%= client.client_email %></td>
          <td><%= client.client_phone_number %></td>
          <td><%= client.client_street_address %><br>
              <%= client.client_city_address%>, <%=client.client_state_address%>, <%=client.client_zip_code %>
          </td>
          <td><%= link_to "Add New Case", new_client_case_path(client.id)  %></td>
        </tr>
      <% end %>
      <% else %>
       <tr>
         <td>You Must <%= link_to 'Add a Client', new_client_path %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @client, renderer: BootstrapPagination::Rails %>

<div class='center'>
   <p> <%= link_to 'Add a Client', new_client_path %></p>
</div>

