<% provide(:title, 'Client List') %>
<div class="row">
  <div class='title'>
    <h1><%= "Client List for #{User.full_name(current_user)}"%> </h1>
  </div>
</div>

  <table id="userClients" class="display">
    <thead>
      <tr>
        <th>Name</th>
        <th>Cases</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Edit Information</th>
      </tr>
    </thead>
    <tbody>
        <% @client.each do |client| %>
              <!-- Use Client.company first, otherwise use client.full_name -->
              <% if client.company == nil %>
                <% name = User.full_name_last_first(client) %>
              <% else %>
                <% name = client.company %>
              <% end %>
            <!-- End name set -->

          <tr>
            <td><%= link_to name, client_path(client) %></td>
            <td><%= link_to "Cases", client_cases_path(client) %></td>
            <td><%= client.email %></td>
            <td><%= client.phone_number %></td>
            <td><%= client.street_address %><br>
                <%= client.city %>, <%=client.state%>, <%=client.zip_code %>
            </td>
            <td><%= link_to "Edit", edit_client_path(client)  %></td>
          </tr>
        <% end %>
    </tbody>
  </table>

<div class="center">
  <%= link_to 'Add a Client', new_client_path, class: "btn btn-md btn-primary" %>
</div>




