<% provide(:title, 'Client List') %>
<div class="row">
  <div class='title'>
    <h1><%= User.full_name(current_user)%>'s Client List</h1>
  </div>
  <% @search_path = clients_path %>
  <%= render 'shared/search_bar' %>
</div>
<% if @client %>

  <table class="table table-hover sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Cases</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Add Case</th>
        <th>Edit Information</th>
      </tr>
    </thead>
    <tbody>
        <% @client.each do |client| %>
          <tr>
            <td><%= link_to "#{User.full_name_last_first(client)}", client_path(client) %></td>
            <td><%= link_to "Cases", client_cases_path(client) %></td>
            <td><%= client.email %></td>
            <td><%= client.phone_number %></td>
            <td><%= client.street_address %><br>
                <%= client.city %>, <%=client.state%>, <%=client.zip_code %>
            </td>
            <td><%= link_to "Add New Case", new_client_case_path(client.id)  %></td>
            <td><%= link_to "Edit", edit_client_path(client)  %></td>
          </tr>
        <% end %>
    </tbody>
  </table>

<% else %>
  <div class="center">
    <%= link_to 'Add a Client', new_client_path, class: "btn btn-md btn-primary" %>
  </div>
<% end %>


<%= will_paginate @client, renderer: BootstrapPagination::Rails %>



