<% provide(:title, @client.client_name) %>
<h2> Client Name: <%= @client.client_name %></h1>
<h2> Client Email: <%= @client.client_email %></h2>
<h2> Client Address: <%= @client.client_street_address %>
                      <%= @client.client_city_address %>, <%= @client.client_state_address.upcase %>, <%= @client.client_zip_code %>
</h2>
<h2> Client Phone Number: <%= @client.client_phone_number %></h2>
<h2> Client Fax Number: <%= @client.client_fax_number %></h2>



