<% provide(:title, @client.client_name) %>
<h1><%= @client.client_name %></h1>
<h2><%= @client.client_email %></h2>
<h2>user id <%= @client.user_id %></h2>
<h2>client id <%= @client.id %></h2>
<h2><%= @params %></h2>

