<% provide(:title, "Practice Groups") %>

<h1>Practice Groups for <%= "#{@lawfirm.firm_name}" %></h1>

<% if current_user.lawfirm.practicegroups.present? %>
  <% @prac_group.each do |group| %>
   <tr>
    <td><%= group.group_name %> <%= link_to "Edit", edit_user_lawfirm_practicegroup_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id, :id => group.id) %> </td>   </tr> <br>
 <% end %>
 <%= link_to "Add Practice Group", new_user_lawfirm_practicegroup_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm_id) %>
<% else %>
 <tr>
   <td>You must</td>
   <td><%= link_to 'Add a Practice Group', new_user_lawfirm_practicegroup_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id) %></td>
 </tr>
<% end %>
