<% provide(:title, "Practice Groups") %>

<h2>Practice Groups for <%= "#{@lawfirm.firm_name}" %></h2>


<table id="lawfirmPracticeGroups" class="display">
  <thead>
    <tr>
      <th>Practice Group Name</th>
      <th>Case Listing</th>
      <th>Actual Profit</th>
      <th>Projected Profit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% @practice_groups.each do |group| %>
        <tr>
          <td><%= group.group_name %></td>
          <td><%= link_to "Cases", group_case_list_user_lawfirm_practicegroup_path(current_user.id, current_user.lawfirm_id, group.id) %></td>
          <td><%= link_to "Actual Profit", individual_practice_group_graph_actual_path(group.id) %></td>
          <td><%= link_to "Projected Profit", expected_individual_pg_rev_path(group.id) %></td>
          <td><%= link_to "Edit", edit_user_lawfirm_practicegroup_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id, :id => group.id) %></td>
        </tr>
      <% end %>
  </tbody>
</table>



<div class='center'>
  <%= link_to "Add Practice Group", new_user_lawfirm_practicegroup_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm_id), class: 'btn btn-md btn-primary' %>
</div>

