<% provide(:title, "New Practice Group") %>

<h2>Add Practice Group to <%= "#{@lawfirm.firm_name}" %> </h2>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= form_for(@prac_group, url: {action: "create"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <table class="table">
          <tr>
            <td><%= f.label "Practice Group Name:" %></td>
            <td><%= f.text_field :group_name %></td>
          </tr>
        </table>
        <div class="center">
         <%= f.submit "Add Practice Group", class: "btn btn-md btn-primary" %>
        </div>
    <% end %>
  </div>
</div>
