<% provide(:title, "Sign in") %>
<h1>Join Law Group</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:lawfirm, url: joinlawfirm_commit_path) do |f| %>

    <table class="table">
      <tr>
        <td><%= f.label "Law Group" %></td>
        <td><%= f.text_field :firm_name %></td>
      </tr>
      <tr>
        <td><%= f.label "Password" %></td>
        <td><%= f.password_field :password %></td>
      </tr>
    </table>
    <div class="center">
      <%= f.submit "Join Group", class: "btn btn-large btn-primary" %>
    </div>
    <% end %>

  </div>
</div>
