<% provide(:title, "Sign in") %>
<h1>Join Law Group</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:lawfirm, url: joinlawfirm_commit_path) do |f| %>

      <%= f.label "Law Group" %>
      <%= f.text_field :firm_name %>

      <%= f.label "Password" %>
      <%= f.password_field :password %>

      <%= f.submit "Join Group", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
