<% provide(:title, 'Overhead') %>

<h2>Overhead Calculation</h2>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for(@overhead, url: {action: "create"}, html: {class: "form-horizontal"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <div class="col-sm-4">
            <%= f.label :year, "Year:", class: "control-label" %>
          </div>
          <div class="col-sm-8">
            <%= f.select :year, (Time.zone.now.year - 10)..(Time.zone.now.year + 1), class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4">
            <%= f.label :rent, "Rent:", class: "control-label" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :rent, class: "form-control monetary" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <%= f.label :utilities, "Utilties:", class: "control-label" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :utilities, class: "form-control monetary" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4">
            <%= f.label :guaranteed_salaries, "Guaranteed Salaries:", class: "control-label" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :guaranteed_salaries, class: "form-control monetary" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4">
            <%= f.label :hard_costs, "Hard Costs:", class: "control-label" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :hard_costs, class: "form-control monetary" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4">
            <%= f.label :other, "Other:", class: "control-label" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :other, class: "form-control monetary" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4">
            <%= f.label :billable_hours_per_lawyer, "Billable Hours per Lawyer:", class: "control-label" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :billable_hours_per_lawyer, placeholder: "2000", class: "form-control monetary" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4">
            <%= f.label :number_of_billable_staff, "Number of Billable Staff:", class: "control-label" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :number_of_billable_staff, :placeholder => current_user.lawfirm.staffings.count, class: "form-control monetary" %>
          </div>
        </div>

        <div class="center">
          <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
        </div>
        <% end %>

    </div>
  </div>
</div>
