<% provide(:title, 'Check Dates') %>

<%= render 'shared/subheader' %>

<h1>Case Check Dates</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@check, url: {action: "create"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "Conflict Check Date:" %>
      <%= f.date_field :conflict_check %>

      <%= f.label "Retention Letter Date:" %>
      <%= f.date_field :retention_letter %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
