<% provide(:title, 'Check Dates') %>

<%= render 'shared/subheader' %>

<h2>Case Conflicts and Engagement</h2>

<div class='container'>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <%= form_for(@check, url: {action: "create"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <table class='table'>
          <tr>
            <td> <%= f.label "Conflict Check:" %></td>
            <td>Completed?     <%= f.check_box :conflict_check %></td>
          </tr>
          <tr class="hide" id="conflict-date">
              <td><%= f.label "Conflict Date:" %></td>
              <td><%= f.date_field :conflict_date, id: 'datepicker' %></td>
          </tr>
          <tr>
              <td><%= f.label "Referring Engagement Letter?" %></td>
            <td>Completed?  <%= f.check_box :referring_engagement_letter %></td>
          </tr>
          <tr class="hide" id="referring-date">
              <td><%= f.label "Referring Engagement Letter Date:" %></td>
              <td><%= f.date_field :referring_engagement_letter_date, id: 'datepicker' %></td>
          </tr>

          <tr>
              <td><%= f.label "Client Engagement Letter?" %></td>
            <td>Completed? <%= f.check_box :client_engagement_letter %></td>
          </tr>
          <tr class="hide" id="client-engagement-date">
              <td><%= f.label "Client Engagement Letter Date:" %></td>
              <td><%= f.date_field :client_engagement_letter_date, id: 'datepicker' %></td>
          </tr>
        </table>

        <div class="center">
          <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#check_conflict_check").click(function(){
     $("#conflict-date").toggleClass('show')
   });
  $("#check_referring_engagement_letter").click(function(){
     $("#referring-date").toggleClass('show')
   });
  $("#check_client_engagement_letter").click(function(){
     $("#client-engagement-date").toggleClass('show')
   });
</script>
