<% provide(:title, 'Check Dates') %>

<%= render 'shared/subheader' %>

<h2>Case Check Dates</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@check, url: {action: "create"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "Conflict Check:" %>
      Complete     <%= f.check_box :conflict_check %>
      <br>
      <br>

        <%= f.label "Conflict Date:" %>
        <%= f.date_field :conflict_date, id: 'datepicker' %>

      <br>
      <br>
        <%= f.label "Referring Engagement Letter?" %>
      Complete  <%= f.check_box :referring_engagement_letter %>
      <br>
      <br>

        <%= f.label "Referring Engagement Letter Date:" %>
        <%= f.date_field :referring_engagement_letter_date, id: 'datepicker' %>
        <br>
        <br>

        <%= f.label "Client Engagement Letter?" %>
      Complete <%= f.check_box :client_engagement_letter %>
      <br>
      <br>


        <%= f.label "Client Engagement Letter Date:" %>
        <%= f.date_field :client_engagement_letter_date, id: 'datepicker' %>


      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
