<% provide(:title, "Conflict Dates") %>

<%= render 'shared/subheader' %>

<h2>Conflicts</h2>
<table id="caseChecks" class='display'>
  <thead>
    <tr>
      <th>Conflict Check Date</th>
      <th>Referring Engagement Letter Date</th>
      <th>Client Engagement Letter Date</th>
    </tr>
  </thead>
  <tbody>
    <td><%= @check.conflict_date ? @check.conflict_date.strftime("%b %d, %Y") : ""%></td>
    <td><%= @check.referring_engagement_letter_date ? @check.referring_engagement_letter_date.strftime("%b %d, %Y") : "" %></td>
    <td><%= @check.client_engagement_letter_date ? @check.client_engagement_letter_date.strftime("%b %d, %Y") : "" %></td>
  </tbody>
</table>
<br>
<br>

<h2> <%= link_to "Edit Check Dates", edit_client_case_check_path(@client, @case, @check), class: 'btn btn-md btn-primary' %></h2>
