<div class="fee">
  <%= form_for(@fee, url: {action: @action}, html: { class: "form-horizontal"}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label "Fee Type:", class: 'control-label' %>
      </div>
      <div class="col-sm-9" id="feeSelect">
        <%= f.select :fee_type, StaticInformation::FEE_TYPE, {include_blank: "Select Fee Type"}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class='fees hourly mixed contingency <%= controller.action_name == "edit" ? " " : "hide" %>'>
        <div class="col-sm-3">
          <%= f.label :high_estimate, "High Value Estimate:", class: "control-label" %>
        </div>
        <div class='col-sm-9'>
          <%= f.text_field :high_estimate, class: 'monetary form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class='fees hourly mixed contingency fixed <%= controller.action_name == "edit" ? " " : "hide "%>'>
      <!-- Change label name if fixedfee or hourly case -->
        <div id="feeNameChange" class="col-sm-3">
          <%= f.label :medium_estimate, "Medium Value Estimate", class: "control-label" %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :medium_estimate, class: 'monetary form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class='fees hourly mixed contingency <%= controller.action_name == "edit" ? " " : "hide "%>'>
        <div class="col-sm-3">
          <%= f.label :low_estimate, "Low Value Estimate:", class: "control-label" %>
        </div>
        <div class='col-sm-9'>
          <%= f.text_field :low_estimate, class: 'monetary form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class='fees hourly mixed contingency fixed <%= controller.action_name == "edit" ? " " : "hide "%>'>
        <div class="col-sm-3">
          <%= f.label :payment_likelihood,  "Likelihood of Recovery:", class: 'control-label' %>
        </div>
        <div class="col-sm-9">
          <%= f.select :payment_likelihood, StaticInformation::FEE_PAYMENT_LIKELIHOOD, {}, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class='fees hourly mixed contingency fixed <%= controller.action_name == "edit" ? " " : "hide "%>'>
        <div class="col-sm-3">
          <%= f.label :referral_percentage, "Percent to Referral Source:", class: "control-label" %>
        </div>
        <div class="col-sm-9">
          <%= f.text_field :referral_percentage, class: 'percentage form-control', placeholder: "e.g. 2.5%" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class='fees hourly mixed contingency fixed <%= controller.action_name == "edit" ? " " : "hide "%>'>
        <div class="col-sm-3">
          <%= f.label :cost_estimate, "Out-of-Pocket Expenses:", class: "control-label" %>
        </div>
        <div class='col-sm-9'>
          <%= f.text_field :cost_estimate, class: 'monetary form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class='fees hourly mixed contingency fixed <%= controller.action_name == "edit" ? " " : "hide "%>'>
        <div class="col-sm-3">
          <%= f.label :retainer, "Retainer:", class: 'control-label' %>
        </div>
        <div class='col-sm-9'>
          <%= f.text_field :retainer, class: 'monetary form-control' %>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="center">
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
  </div> <!--END FEE DIV -->

