<% provide(:title, 'Update Fee') %>
<h2>Update Case Fees</h2>

<%= render 'shared/subheader' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for(@fee, url: {action: "update"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <table class='table'>
          <tr>
            <td><%= f.label "Fee Type:" %></td>
            <td><%= f.select :fee_type, Fee::FEE_TYPE %></td>
          </tr>

          <tr>
            <td><%= f.label "High Value Estimate:" %></td>
            <td><%= f.text_field :high_estimate %></td>
          </tr>
          <tr>
            <td><%= f.label "Medium Value Estimate:" %></td>
            <td><%= f.text_field :medium_estimate %></td>
          </tr>
          <tr>
            <td><%= f.label "Low Value Estimate:" %></td>
            <td><%= f.text_field :low_estimate %></td>
          </tr>
          <tr>
            <td><%= f.label "Likelihood of Recovery:" %></td>
            <td><%= f.select :payment_likelihood, Fee::FEE_PAYMENT_LIKELIHOOD %></td>
          </tr>
          <tr>
            <td><%= f.label "Fee Owed to Referral Source:" %></td>
            <td><%= f.text_field :referral %></td>
          </tr>
          <tr>
            <td><%= f.label "Estimated Out-of-Pocket Expenses:" %></td>
            <td><%= f.text_field :cost_estimate %></td>
          </tr>
          <tr>
            <td><%= f.label "Retainer:" %></td>
            <td><%= f.text_field :retainer %></td>
          </tr>
        </table>

          <%= f.submit "Submit", class: "btn btn-large btn-primary" %>

        <% end %>

    </div>
  </div>
</div>
