<% provide(:title, 'Fee Timeline') %>

<%= render 'shared/subheader' %>

<h2>Fee Timeline  </h2>

<table id="caseFees" class="display">
  <thead>
    <tr>
      <th>Fee Type</th>
      <th>Low Estimate</th>
      <th>Medium Estimate</th>
      <th>High Estimate</th>
      <th>Estimated Out-of-Pocket Expenses</th>
      <th>Fee Owed to Referral Source</th>
      <th>Likelihood of Recovery</th>
      <th>Retainer</th>
      <th>Last Update</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @fee.each do |fee| %>
        <tr>
          <td><%= fee.fee_type%></td>
          <td><%= number_to_currency fee.low_estimate, precision: 0%></td>
          <td><%= number_to_currency fee.medium_estimate, precision: 0%></td>
          <td><%= number_to_currency fee.high_estimate, precision: 0%></td>
          <td><%= number_to_currency fee.cost_estimate, precision: 0%></td>
          <td><%= number_to_currency fee.referral, precision: 0 %></td>
          <td><%= fee.payment_likelihood%></td>
          <td><%= number_to_currency fee.retainer, precision: 0%></td>
          <td><%= fee.updated_at.strftime("%b %d, %Y")%></td>
          <td><%= link_to "Edit", edit_client_case_fee_path(@client,@case,fee.id)%></td>
        </tr>
      <% end %>
  </tbody>
</table>

<div class='center'>
   <p> <%= link_to 'Update Fee Timeline', new_client_case_fee_path(@client,@case) %></p>
</div>

<div id="feeTimeline" style="min-width: 310px; height: 400px; margin: 0 auto">
</div>




<script type="text/javascript">
  var categories = <%= raw @fee_timeline %>;
  var lowEstimate = <%= @fee_low_estimates %>;
  var mediumEstimate = <%= @fee_medium_estimates %>;
  var highEstimate = <%= @fee_high_estimates %>;

  $(function () {
    $('#feeTimeline').highcharts({
        chart: {
            type: 'line'
        },
        credits: {
          enabled: false
        },
        title: {
            text: 'Fee Timeline'
        },
        subtitle: {
            text: 'Estimated Gross Fee over Time'
        },
        xAxis: {
            categories: categories
        },
        yAxis: {
            title: {
                text: 'Amount ($)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Low Gross Fee Estimate',
            data: lowEstimate
        }, {
            name: 'Medium Gross Fee Estimate',
            data: mediumEstimate
        }, {
            name: "High Gross Fee Estimate",
            data: highEstimate
        }]
    });
});
</script>
