<% provide(:title, 'Case Fee') %>
<h1>Fee</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@fee, url: {action: "create"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "Fee Type:" %>
      <%= f.select :fee_type, Fee::FEE_TYPE %>

      <%= f.label "High Value Estimate:" %>
      <%= f.text_field :high_estimate %>

      <%= f.label "Medium Value Estimate:" %>
      <%= f.text_field :medium_estimate %>

      <%= f.label "Low Value Estimate:" %>
      <%= f.text_field :low_estimate %>

      <%= f.label "Likelihood of Fee Payment:" %>
      <%= f.select :payment_likelihood, Fee::FEE_PAYMENT_LIKELIHOOD %>

      <%= f.label "Retainer:" %>
      <%= f.text_field :retainer %>

      <%= f.label "Estimated Cost:" %>
      <%= f.text_field :cost_estimate %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
