<% provide(:title, "Fee Structure") %>

<%= render 'shared/subheader' %>

<h2>Fee</h2>
<table class='table table-hover'>
  <thead>
    <tr>
      <th>Fee Type</th>
      <th>Low Estimate</th>
      <th>Medium Estimate</th>
      <th>High Estimate</th>
      <th>Estimate Out-of-Pocket Expenses</th>
      <th>Fee Owed to Referral Source</th>
      <th>Likelihood of Recovery</th>
      <th>Retainer</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @fee.fee_type %></td>
      <td><%= @fee.low_estimate %></td>
      <td><%= @fee.medium_estimate %></td>
      <td><%= @fee.high_estimate %></td>
      <td><%= @fee.cost_estimate %></td>
      <td><%= @fee.referral %></td>
      <td><%= @fee.payment_likelihood %></td>
      <td><%= @fee.retainer %></td>
      <td><%= @fee.updated_at.strftime("%b %d, %Y") %></td>
    </tr>
  </tbody>
</table>

<br>
<br>


