<% provide(:title, "Fee Structure") %>

<%= render 'shared/subheader' %>

<h2>Fee</h2>
<table id="caseFees" class='display'>
  <thead>
    <tr>
      <th>Fee Type</th>
      <th>Low Estimate</th>
      <th>Medium Estimate</th>
      <th>High Estimate</th>
      <th>Estimate Out-of-Pocket Expenses</th>
      <th>Fee Owed to Referral Source</th>
      <th>Likelihood of Recovery</th>
      <th>Retainer</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @fee.fee_type %></td>
      <td><%= number_to_currency(@fee.low_estimate, precision: 0) %></td>
      <td><%= number_to_currency @fee.medium_estimate, precision: 0 %></td>
      <td><%= number_to_currency @fee.high_estimate, precision: 0 %></td>
      <td><%= number_to_currency @fee.cost_estimate, precision: 0 %></td>
      <td><%= number_to_currency @fee.referral, precision: 0 %></td>
      <td><%= @fee.payment_likelihood %></td>
      <td><%= number_to_currency @fee.retainer, precision: 0 %></td>
      <td><%= @fee.updated_at.strftime("%b %d, %Y") %></td>
    </tr>
  </tbody>
</table>

<br>
<br>


