<% provide(:title, "Fee Structure") %>

<%= render 'shared/subheader' %>

<h1>Case Fee</h1>
<table class='table table-hover'>
  <thead>
    <tr>
      <th>Fee Type</th>
      <th>Low Estimate</th>
      <th>Medium Estimate</th>
      <th>High Estimate</th>
      <th>Cost Estimate</th>
      <th>Likelihood of Fee Payment</th>
      <th>Retainer</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @fee.fee_type %></td>
      <td><%= @fee.low_estimate %></td>
      <td><%= @fee.medium_estimate %></td>
      <td><%= @fee.high_estimate %></td>
      <td><%= @fee.cost_estimate %></td>
      <td><%= @fee.retainer %></td>
      <td><%= @fee.payment_likelihood %></td>
      <td><%= @fee.updated_at %></td>
    </tr>
  </tbody>
</table>

<br>
<br>


