<% provide(:title, 'Client Profitability') %>

<div class='chart col-lg-10 col-lg-offset-2'>
  <div id="clientProf" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>

<div class="center">
  <div class="col-lg-6 col-lg-offset-4">
    <h2>Select Other Client</h2>
          <%= form_tag revenue_by_client_graph_actual_path(@client.id),
            method: :get do %>
            <div class="row">
              <div class='col-lg-6 col-lg-offset-3'>
                <%= select_tag :client, options_for_select(@clients) %>
                <%= submit_tag "Change Client", class: 'btn btn-md btn-primary center' %>
              </div>
            </div>
          <%end%>
  </div>
</div>

<script type="text/javascript">

  var category = ["<%= @client.company ? @client.company.html_safe : @client.full_name ? @client.full_name.html_safe : "" %>", "Client Profitability Average"];
  var grossFee = <%= [@profitability[0], @avg_profitability[0]] %>;
  var directExpenses = <%= [@profitability[1]*-1, @avg_profitability[1]*-1] %>;
  var netFee = <%= [@profitability[2],@avg_profitability[2]] %>;
  var indirectExpenses = <%= [@profitability[3]*-1, @avg_profitability[3]*-1] %>;
  var netProfit = <%= [@profitability[4],@avg_profitability[4]] %>;

 $(function () {
  // Create the chart
  $('#clientProf').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Actual Client Profitability - ' + category[0]
      },
      credits: {
        enabled: false
      },
      xAxis: {
          categories: category,
      },
      yAxis: {
          title: {
              text: '(in Dollars)'
          }
      },
      legend: {
          enabled: true
      },
      plotOptions: {
          line: {
              dataLabels: {
                  enabled: true
              },
              enableMouseTracking: false
          }
      },
      series: [{
          name: 'Gross Fee',
          data: grossFee,
      }, {
          name: 'Direct Expenses',
          data: directExpenses
      }, {
          name: 'Net Fee',
          data: netFee
      }, {
          name: 'Indirect Expenses',
          data: indirectExpenses
      }, {
          name: 'Profit',
          data: netProfit
      }],
  });
});

</script>

