<% provide(:title, 'Net Fee by Referral Source') %>

<div class="inside-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="select-year">
                            <h5>Change Number of Years</h5>
                            <div class="col-lg-6">
                                <%= form_tag revenue_by_origination_graph_actual_path(current_user.lawfirm_id),
                                  method: :get do %>
                                <div class="row" style='margin-left: -50px'>
                                    <div class='col-sm-6'>
                                        <%= select_tag :range, options_for_select([1,2,3,4,5,6,7,8,9,10]) %>
                                    </div>
                                    <div class='col-sm-6'>
                                        <%= submit_tag "Change Years", class: 'btn btn-xs btn-primary' %>
                                    </div>
                                </div>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id='revByOriginationSourceActual'></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$(function () {

  var text  = <%= params[:range] || 3 %>

  var pieData = [<% @final_fee_by_origination_source.each do |d|%>
                  <%= raw d %>,
                <% end %>]

  Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });

    $('#revByOriginationSourceActual').highcharts({
        chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1,//null,
                plotShadow: false
            },
            credits: {
                    enabled: false
            },
            title: {
                text: 'Total Fee Received by Origination Source: Last ' + text + " Years"
            },
            tooltip: {
              pointFormat: '<b>${point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: "Practice Group",
                data: pieData
            }]
        });
     });

</script>
