<% provide(:title, 'Revenue by Year: Actual') %>

<div class="chart container">
  <div class='col-lg-10 col-lg-offset-2'>
    <div id="revenueByYearActual" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
</div>

<script type="text/javascript">
 $(function () {

  var categoryByYear = <%= Graph.closeout_year_only %>;
  var totalRecovery = <%= @total_recovery %>;
  var totalGrossFeeReceived = <%= @total_gross_fee_received %>;
  var totalOutOfPocketExpenses = <%= @total_out_of_pocket_expenses %>;
  var referringFeesPaid = <%= @referring_fees_paid %>;
  var totalFeeReceived = <%= @total_fee_received %>;
  var totalIndirectCost = <%= @total_indirect_cost %>;
  var netProfit = <%= @net_profit %>;
  var categoryLinks = {
     "<%=@category_by_year[0] %>" : "<%=revenue_by_month_graph_actual_url(1,@category_by_year[0]).to_str %>",
     "<%=@category_by_year[1] %>" : "<%=revenue_by_month_graph_actual_url(1,@category_by_year[1]).to_str %>",
     "<%=@category_by_year[2] %>" : "<%=revenue_by_month_graph_actual_url(1,@category_by_year[2]).to_str %>",
     "<%=@category_by_year[3] %>" : "<%=revenue_by_month_graph_actual_url(1,@category_by_year[3]).to_str %>",
     "<%=@category_by_year[4] %>" : "<%=revenue_by_month_graph_actual_url(1,@category_by_year[4]) %>"
   };

  // Create the chart
  $('#revenueByYearActual').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Net Revenue/Profit by Year'
      },
      credits: {
        enabled: false
      },
      xAxis: {
          categories: categoryByYear,
          labels: {
                    formatter: function () {
                        return '<a href="'  + categoryLinks[this.value] + '">' + this.value + '</a>';
                    },
                    useHTML: true
                }
      },
      yAxis: {
          title: {
              text: '$'
          }
      },
      legend: {
          enabled: true
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>${point.y}</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true,
          positioner: function(boxWidth, boxHeight, point) {
            return {
                x: point.plotX - 40,
                y: point.plotY - 20
            };
        } //this moves the box out of the way of the category links
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [{
          name: 'Total Recovery',
          data: totalRecovery,
      },
      {
          name: 'Gross Fee Received',
          data: totalGrossFeeReceived
      },
      {
          name: 'Out Of Pocket Expenses',
          data: totalOutOfPocketExpenses
      },
      {
          name: 'Referring Fees Paid',
          data: referringFeesPaid,
          color: 'red'
      },
      {
          name: 'Net Fee Received',
          data: totalFeeReceived
      },{
          name: 'Indirect Costs',
          data: totalIndirectCost
      },{
          name: 'Net Profit',
          data: netProfit
      }],
  })
});

</script>


