<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'shared/shim' %>

</head>
<body>
  <%= render 'shared/newheader' %>

<div id="wrapper">
  <div id="sidebar-wrapper">
    <!-- if controller is graphs related, show graphs sidebar -->
    <%= graph_sidebar?("graphs") || graph_sidebar?("graph_drilldowns") || graph_sidebar?("graph_individual_prac_groups") %>
  </div>
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container">
        <div class='row'>
          <div class='col-lg-9-offset-3'>
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
            <% if signed_in? %>

            <% end %>
            <%= render 'shared/footer' %>
            <%= debug(params) if Rails.env.development? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
