<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= respond_include_tags %>
  <%= csrf_meta_tags %>
  <%= render 'shared/shim' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= render 'shared/newheader' %>

<div id="wrapper">
  <div id="sidebar-wrapper">
    <!-- if controller is graphs related, show graphs sidebar -->
    <%= graph_sidebar_projected?("graphs") || graph_sidebar_projected?("graph_drilldowns") || graph_sidebar_projected?("graph_individual_prac_groups") %>
    <%= graph_sidebar_actual?("graph_actuals") %>
  </div>
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container">
        <div class='row'>
          <div class='col-lg-9-offset-3'>
            <% flash.each do |key, value| %>
              <%= content_tag(:div, value, class: "alert alert-#{key}") %>
            <% end %>
            <%= yield %>
            <%= debug(params) if Rails.env.development? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
